/*
Reset CSS
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, big, font, img, small, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
:focus {outline:0;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {border-collapse:collapse; border-spacing:0;}

/*
Main CSS
*/

.inner {
	position: relative;
	display: block;
}

a {
	text-decoration: none;
	color: #424286;
}

a:hover {
	color: #424286;
}
.entry-content a,
.tabcontent a
{
	color: #004bbd;
}

.entry-content a:hover,
.tabcontent a:hover {
	color: #004bbd;
}

.entry-content .btn-warning,
.tabcontent .btn-warning {
	color: #fff;
}

.tabcontent .tab .row>div {
	position: relative;
}

p, .entry-content p {
	margin-bottom: 10px !important;
}

.entry-content object {
	margin-bottom: 10px;
}

.entry-content ul {
	margin-bottom: 10px;
}

.clear {
	clear: both;
}

img {
	margin: 0px;
	padding: 0px;
}

#mainContent {
	position: relative;
}

.page-barton-help .mainContent {
	width: 100%;
}

#mainContent>.space247 {
	top: 10px;
}

h2.bigHead {
	font-size: 20px;
	color: #76747a;
}

#mainContent h2 {
	margin-top: 0px;
}	

#mainContent h3 {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	margin: 0 0 10px 0;
	color: #333;
}

#mainContent h4 {
	font-size: 14px;
	line-height: 16px;	
	font-weight: bold;
	margin: 0 0 10px 0;
	color: #333;
}

#mainContent h5 {
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	font-weight: normal;
}	

#mainContent .entry-content {
	padding: 20px 20px 20px 20px;
}

.entry-content ul li {
	list-style: disc;
	margin-left: 40px;
	margin-bottom: 5px;
}

.entry-content ul, #mainContent ul {
	margin-bottom: 10px;
}

.snav li.active a, .pagenav ul li.active a{
	color: #666;
}

.snav li, .pagenav ul li {
	list-style-image: url(#{$imagesPath}/nav-arrow-blue.png);
	margin-left: 10px;
	margin-bottom: 10px;
}

.snav li.active, .pagenav ul li.active {
	list-style-image: none;
	color: #666;
}

.widgetButton {
	display: block;
	margin: 0 0 10px 0;
}

.findStudySpace {
	background: url('#{$imagesPath}/find_study_space-bg.png') center no-repeat;
	height: 70px;
	margin-bottom: 15px;
	text-align: center;
	width: 190px;
}

.findStudySpace h3 {
	font-size: 15px;
	font-size: 0.95rem;
	line-height: 70px
}

.findStudySpace h3 a {
	color: #5c120d;
}

.study247 {
	text-indent: -9999px;
	display: block;
	width: 56px;
	height: 30px;
	background: transparent url(#{$imagesPath}/study247.png) no-repeat;
	margin: 0 0 5px 0;
}

ul.checklist li {
	list-style-image: url(#{$imagesPath}/icon-check.png);
	margin-left: 15px;
}

/** Locations Home **/

@media screen and (min-width: 481px) {
	.locations-list {
		background: #262626 url(#{$imagesPath}/content/locations.jpg) no-repeat center bottom;
		height: auto;
		margin-bottom: 20px;
		width: 960px;
	}
}

.activeMap #locationsHome {
	background-image: none;
}


.studyList>li.odd {
	background-color: #eceaeb;
}

.locationList li {
	display: block;
	float: left;
	/*width: 220px;*/
	color: #76747a;
	height: 125px;
	
	
}

.locationList .icon-arrow-right {
	color: #424286;
}

#mainContent .locationList li h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin: 0 0 0 0;
}

.locationMainList {
	position: relative;
	padding: 0px 0 0 20px;
	height: 468px;
}

.locationMainList li {
	position: relative;
	display: block;
	float: left;
	width: 438px;
	height: 124px;
	background: transparent url(#{$imagesPath}/location.png) no-repeat;
	color: #cccccc;
	margin: 20px 20px 0px 0;
	padding: 0 0 0 10px;
	font-size: 14px;
	line-height: 18px;
}

.locationMainList .icon-arrow-right {
color: #ffcc33;
}

.locationMainList li .hours {
	display: block;
	margin: 0px 0 5px 0px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.locationMainList .locationLink:after,
.locationMainList .map:after {
	content: ' \f061';
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
}

.locationMainList li h2 {
	color: #ffcc33;
	margin: 15px 0 5px 0;
	font-size: 24px;
	line-height: 24px;
}

.locationMainList h2 a {
	color: #ffcc33;
}

.locationMainList .sub {
	text-transform: uppercase;
}

.locationMainList .map {
	border-left: 1px solid #ccc;
	padding-left: 5px;
	color: #ffcc33;
}

.title .extraInfo {
	position: absolute;
	top: 22px;
	right: 5px;
}

.extraInfo a {
	display: inline-block;
	color: #ffcc33;
	margin-right: 20px;
	font-size: 14px;
	line-height: 15px;
}

.extraInfo .btn {
	margin-top: -2px;
}

.extraInfo .btnShow {
	color: #000;
	width: 70px;
	text-align: center;
}

.profile {
	background: #ede8e2;
	padding: 15px 10px 0px 10px;
	position: relative;
	left: -10px;
	font-size: 14px;
	/*width: 340px;*/
	margin: 0 0 15px;
}

.profile img {
	position: relative;
	float: left;
	border: 1px solid #999999;

}

#mainContent .size-thumbnail, #mainContent img {
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	border: 1px solid #999;
}

.profile .profileContent {
	position: relative;
	float: left;
	top: 0px;
	left: 20px;
	width: 150px;
}

.profile .intro {
	color: #666666;
}

#mainContent .profile h3 {
	margin: 0;
}

.profile h3 span {
	display: block;
}

.profile h3 .intro,
.profile h3 .bio {
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.profile h3 .name {
	margin: 10px 0 0;
	margin: 0.625rem 0 0;
}

.profile .links {
	margin: 5px 0 15px 0;
}

.profile .links a {
	display: block;
}

.profile .links a.primary {
	font-weight: bold;
}

ul.arrows li,
.single-location .tab ul.arrows li,
.page-template-page-location-php .tab ul.arrows li
{
	list-style-image: url(#{$imagesPath}/arrow-right-blue.png);
	margin-left: 15px;
}

.locationContent ul li {
	list-style-type: disc;
	margin-left: 15px;
}

.single-location #sidebarContent {
	position: relative;
	margin-top: -50px;
}

.sideContent {
	float: right;
	width: 350px;
	line-height: 18px;
}

.sideContent p {
	line-height: 18px;
}

/** Study Spaces **/


.studyList>li {
	position: relative;
	background-repeat: no-repeat;
	background-position: left middle;
	height: 190px;
	padding-left: 130px;
	margin-bottom: 10px;
}

.studyList .info {
	width: 100%;
	clear: both;
	position: relative;
	z-index: 9;
}

.info {
	position: relative;
	
}

.info .first {
	margin-left: 0px !important;
	padding-left: 0px !important;
	border-left: none !important;
}

.info .infoCol {
	width: 120px;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
	display: block;
	float: left;
	min-height: 90px;
	color: #737373;
	font-size: 12px;
	line-height: 16px;
}

.studyList .content {
	padding-top: 20px;
}

#mainContent .studyList .content h3 {
	color: #424286;
}

.studyList .content .description {
	width: 400px;
}

.studyList .info {
	margin-top: 5px;
	margin-bottom: 5px;
}	

.studyList h3 {
	margin-bottom: 0px !important;
	line-height: 20px;
	font-size: 18px;
}	

.studyList .infoCol h4 {
	font-weight: normal;
	text-transform: none;
	color: #737373 !important;
	margin-bottom: 0px !important;
	font-size: 12px !important;
	line-height: 15px !important;
}

.studyList .hours {
	display: block;
	color: #666666;
	font-weight: bold;
	margin-top: 5px;
}



.studyList ul li {
	list-style-type: disc;
	margin-left: 15px;
	font-size: 11px;
	line-height: 14px;
}

/* ---- Hours ---- */

.specialHours {
	font-weight: bold;
}

.specialHours b {
	color: #ca3;
}

#hourContent {
	width: 100%;
}	

#hourNav {
	background: #fff;
	margin: 0;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.isSticky #hourNav {
	border-bottom: 3px solid #333;
	box-shadow: 0 8px 6px -6px black;
	z-index: 11;
}

#hourNav > div {
	float: left;
	margin: 10px 0;
}

#hourNav #prevWeek {
	margin-left: 230px;
}

#hourNav #thisWeek {
	margin-left: 215px;
}

#hourNav #nextWeek {
	float: right;
	margin-right: 10px;
}
#hourNav, #hourNav a {
	color: #424286;
}

.hrList {
	clear: both;
	width: 100%;
	table-layout: fixed;
}

.hrList thead {	
	border-top: 5px solid #333;
	border-bottom: 5px solid #ccc;
}

.list2 thead {
	border-top: none !important;
}

.hrList th {
	vertical-align: bottom;
	padding: 15px 10px 15px 10px;
	border-left: 1px solid #ccc;
	width: 83px;
}
.hrList td {
	/*position: relative;*/
	width: 83px;

}

.tdInside {
	left: -10px;
	top: -20px;
	height: 1px;
	position: relative;
}

.hrList th .date {
	font-weight: bold;
}

.hrList th.cur {
	border-left: 1px solid #cca329;
	background: #cca329;
	border-bottom: 5px solid #cca329;
}
.hrList th.curAfter {
	border-left: 1px solid #cca329;
}

.hrList td.cur {
	border-left: 1px solid #cca329;
	background: #ffcc33;
	border-bottom: 5px solid #cca329;
	z-index: 10;
}

.hrList td.curAfter {
	border-left: 1px solid #cca329;
}

.hrList td {
	padding: 10px;
	border-left: 1px solid #ccc;
	border-bottom: 5px solid #ccc;
	
}

.hrList .even td {
	background: #eceaea;
	
}

.hrList .even td.cur {
	background: #ecbb2f;
}

.hrList th.name {
	color: #000;
	font-weight: bold;
	border-left: none;
	font-size: 20px;
	width: 200px;
}

.hrList td.name {
	border-left: none;
}

.hrList .name .libraryAlert {
	background: #333;
	border: none;
	bottom: auto;
	color: #f7f7f7;
	display: block;
	font-size: 1em;
	margin-top: 0.5em;
	margin-left: 1em;
	max-width: 14em;
	padding: 0.25em 0.25em 0.25em 2em;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.hrList .libraryAlert .icon-exclamation-sign {
	color: #ffcc33;
	float: left;
	font-size: 1.5em;
	margin-top: -12px;
	margin-left: -1.075em;
	position: absolute;
	top: 50%;
}

.hrList .libraryAlert h3 {
	display: inline;
	font-size: 1em;
	line-height: 1;
}

.hrList .name .libraryAlert p {
	display: inline;
	max-width: 12em;
}

.hrList .libraryAlert h3 a,
.hrList .libraryAlert p a {
	color: #ffcc33;
}

.hrList td h3{
	line-height: 18px;
}

#wpstats {
	display: none !important;
}

#map {
	display: none;
	height: 340px;
	width: 960px;
	background: #ccc;
	position: relative;
}

#map img {
  max-width: none;
}

#map .infoImage {
	display: block;
	float: left;
	width: 116px;
	height: 107px;
	margin: 0 0px 0 0;
	background-size: cover;
	
}

#map .infoBox {
	display: block;
	width: 280px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#map .infoContent {
	background: #333;
	display: block;
	padding: 3px 0 3px 3px;
	position: relative;
	width: 100%;
}

#map .infoBox:after { /* Tool tip triangle */
	content: '';
	border-right: 10px solid transparent;
	border-top: 10px solid #333;
	border-left: 10px solid transparent;
	display: block;
	height: 0;
	margin: 0 auto;
	position: relative;
	width: 0;
}

#map .content {
	float: left;
	width: 127px;
	margin: 0.5em 0 0.5em 0.5em;
}

#map .content h3 {
	font-size: 16px;
	font-weight: bold;
	color: #ffcc33;
	line-height: 1;
	margin: 0px;
}

#map .content h3 a {
	color: #ffcc33;
}

@media screen and (max-width: 480px) {
	#map {
		margin: 0 auto;
		width: 90%;
	}
	#map .infoBox {
		margin-left: 67px;
		width: 140px;
	}
	#map .infoImage {
		display: none;
	}
	#map .content {
		width: 100px;
	}
}

#map .building {
	font-size: 12px;
	font-weight: bold;
	color: #ccc;
}

#map .directions {
	font-size: 12px;
	color: #ffcc33;
}

#map .directions a {
	color: #ffcc33;
}

.infoBox>img {
	z-index: 500;
}

.meta {
	display: none;
}

.InfoWindow {
	background: #f00;
}

.menu-toggle {
	display: none !important;
}

#hoursLink {
	font-size: 16px;
}

.dark a[href^=tel] {
	color: #ffcc33;
}
.light a[href^=tel] {
	color: #424286;
}

#cse-search-box  input[type=text]{
	vertical-align: top;
}

body:not(.page-site-search) #cse-search-box  input[type=text] {
	width: 100px;
}

#cse-search-box input[type=submit] {
	height: 30px;
	vertical-align: top;
}

/** Spanning messages in calendar **/

.message {
	position: absolute;
	top: 10px;
	border: 1px solid #000;
	background: #333;
	color: #fff;
	padding: 3px 13px 3px 3px;
	text-align: center;
	z-index: 20;
}

.msgSpan1 {
	width: 83px;
}

.msgSpan2 {
	width: 188px;
}

.msgSpan3 {
	width: 293px;
}

.msgSpan4 {
	width: 398px;
}

.msgSpan5 {
	width: 503px;
}

.msgSpan6 {
	width: 608px;
}

.msgSpan7 {
	width: 713px;
}

.msgContinued {
	left: 0px;
	padding-left: 13px;
}

.msgEnds {
	padding-right: 3px;
}

.msgSpan7.msgContinued {
	padding-right: 3px;
}


.mobileDay, .mobileToday {
	display: none;
}

.fullHourDay {
	display: block;
}
.mobileHourDay {
	display: none;
}


.uber-close {
	line-height: 24px !important;
	font-size: 24px !important;
	background: #333 !important;
	padding: 0px 0px 0px 10px !important;
	display: none !important;
}

.megaHover .uber-close {
	display: block !important;
}

.sideContent .videoRight {
	display: block;
	position: relative;
}

.sideContent .videoRight:after { /* clearfix */
	clear: both;
	content: '';
	display: table;
}

.sideContent .videoRight  iframe {
	float: right;
	margin-bottom: 0;
}

.sideContent .videoRight a {
	clear: both;
	display: block;
	float: right;
	width: 240px;
}

.sideContent .videoRight > div {
	clear: right;
	position: relative;
}

.sideContent .videoRight > div a {
	padding: 0;
	position: relative;
}

.entry-content iframe {
	margin: 0;
}

.entry-content .aboutVideoLink {
	display: block;
	max-width: 240px;
}

#mainContent ol {
	list-style: decimal;
	margin: 1em 1.5em;
}

.page-getit .postTitle {
	font-size: 1.5em;
	line-height: 1.5;
	margin-bottom: 0.5em;
}

.page-getit .postContent {
	line-height: 1.5;
}

.page-getit .yourSearch.header {
	background: #333;
	border: 2px solid #333;
	border-radius: 3px;
	box-shadow: 0 0 3px #444;
	color: #f7f7f7;
	font-family: 'Open Sans';
	font-size: 1.2em;
	margin: 2em 0 0;
	padding: 1em;
}

.page-getit .yourSearch h2 {
	color: #ffcc33;
	font-size: 2em;
	margin-bottom: 0.5em;
}

.page-getit .yourSearch.header p {
	font-size: 1.1em;
	line-height: 1.5;
}

.page-getit .yourSearch.header a {
	color: #ffcc33;
}

.page-getit .mainContent .flexItem h3,
.page-getit .mainContent .flexItem h4 {
	color: #3f1c08;
	font-family: 'Open Sans';
	text-shadow: 1px 1px #fff6ed;
}

.page-getit .mainContent .flexItem h3 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.page-getit .mainContent .flexItem h4 {
	font-size: 1.25em;
	margin-top: 2em;
}

.page-getit .flexItem {
	background: #ede8e2;
	border-radius: 3px;
	box-shadow: 0 0 3px #444;
	margin: 1em;
	padding: 1em;
	position: relative;
	text-align: center;
	width: 33%;
}

.page-getit .flexItem.first {
	margin-left: 0;
}

.page-getit .flexItem.second {
	background: #fff9ef;
	width: 34%;
}

.page-getit .flexItem.third {
	margin-right: 0;
}

.page-getit .flexItem div {
	background: #333;
	border-radius: 3px;
	color: #eee8e1;
	font-size: 1.25em;
	line-height: 1.25;
	padding: 1em;
	text-align: left;
}

.page-getit .flexItem p a:first-of-type {
	display: block;
	margin-bottom: 0.25em;
	font-weight: bold;
	text-align: center;
}

.page-getit .flexItem a {
	color: #ffcc33;
}

.page-getit .flexItem h4:after {
	content: '\f175';
	display: block;
	font-family: 'fontawesome-MITLibraries';
	font-size: 2em;
	margin: 1em;
}

.mainContent .tabcontent,
.mainContent .tabcontent * {
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.flexbox .tabcontent .flexContainer {
	display: none;
}

.flexbox .tabcontent .active.flexContainer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mainContent .tabcontent .tab {
	padding: 1.5em 0 0;
}

.mainContent .tabcontent .first,
.mainContent .tabcontent .second {
	margin: 0;
	width: 50%;
	max-width: none;
}

html:not(.flexbox) .mainContent .flexItem {
	margin: 16px 0;
	margin: 1rem 0;
}

.mainContent .tabcontent .first {
	border-right: 1px solid #ccc;
	padding-right: 1.5em;
}

.mainContent .tabcontent .second {
	padding-left: 1.5em;
}

.mainContent .tab2 .first {
	margin: 0;
	padding: 0 1rem;
	width: 26%;
}

.mainContent .tab2 .second {
	width: 74%;
}

.locationPage .profile {
	left: auto;
}