/*
Reset CSS
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, big, font, img, small, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
:focus {outline:0;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {border-collapse:collapse; border-spacing:0;}

/*
Main CSS
*/

body {
	font-family: Arial, serif;
	font-size: 62.5%;
	line-height: 1.5em;
	color: #333333;
	background: #fff;
	height: 100%;
}

#container {	
	position: relative;
	width: 960px;
	margin: 15px auto;
	padding: 0 0 0px 0;
	min-height: 10px;
	
}

.inner {
	position: relative;
	display: block;
}

a {
	text-decoration: none;
	color: #424286;
}

a:hover {
	color: #424286;
}
.entry-content a,
.tabcontent a
{
	color: #004bbd;
}

.entry-content a:hover,
.tabcontent a:hover {
	color: #004bbd;
}

.entry-content .btn-warning,
.tabcontent .btn-warning {
	color: #fff;
}


.tabcontent .tab .row>div {
	position: relative;
}

.tabcontent .reserve {
	display: block;
	position: relative;
	color: #fff !important;
	top: 5px;
	right: 0px;
	width: 90px;
}

p, .entry-content p {
	margin-bottom: 10px !important;
}

.entry-content object {
	margin-bottom: 10px;
}

.entry-content ul {
	margin-bottom: 10px;
}

.clear {
	clear: both;
}

img {
	margin: 0px;
	padding: 0px;
}

#mainContent {
	position: relative;
}

.page-barton-help .mainContent {
	width: 100%;
}

#mainContent>.space247 {
	top: 10px;
}

h2.bigHead {
	font-size: 20px;
	color: #76747a;
}

#mainContent h2 {
	margin-top: 0px;
}	

#mainContent h3 {
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	margin: 0 0 10px 0;
	color: #333;
}

#mainContent h4 {
	font-size: 14px;
	line-height: 16px;	
	font-weight: bold;
	margin: 0 0 10px 0;
	color: #333;
}

#mainContent h5 {
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
	font-weight: normal;
}	

#mainContent .entry-content {
	padding: 20px 20px 20px 20px;
}

.entry-content ul li {
	list-style: disc;
	margin-left: 40px;
	margin-bottom: 5px;
}

.entry-content ul, #mainContent ul {
	margin-bottom: 10px;
}

.expandable {
	clear: both;
	border-bottom: 5px solid #eceaea;
	margin: 0px 0px 0px -20px;
	padding: 0px;
	position: relative;
}

#content .expandable h3 {
	padding: 15px 0 5px 20px;
	cursor: pointer;
	margin: 0 0 0 0;
	color: #424286;
	font-size: 14px;
	line-height: 14px;
	background: transparent url(../images/arrow-content-off.png) no-repeat;
	background-position: 0px 15px;
}

#content .active.expandable h3 {
	background-image: url(../images/arrow-content-on.png);
	font-weight: bold;
	color: #000;
}

#content .active.expandable {
	background: #fbfbfb;
}


.expandable .content {
	padding: 10px 10px 40px 20px;
	display: none;
}

.no-js .expandable .content {
	display: block;
}

#content .expandable {
	border-bottom: none;
	padding: 0;
}

#content .expandable:nth-of-type(odd) {
	background: #eceaea;
}
#content .expandable.active h3 {
	background: none;
}
#content .expandable h3 {
	background: none;
	padding: 1em 1em 0.75em;
}

#content .expandable h3 a {
	color: #424286;
}

#content .expandable.active h3 a {
	color: #000;
}

#content .expandable h3:before {
	border-top: 5px solid transparent;
	border-left: 5px solid #424286;
	border-bottom: 5px solid transparent;
	content: '';
	display: inline-block;
	left: 0;
	margin-right: 1em;
	height: 0;
	width: 0;
}

#content .expandable.active h3:before {
	border-left: 5px solid transparent;
	border-top: 5px solid #000;
	border-right: 5px solid transparent;
	content: '';
	display: inline-block;
	left: 0;
	margin-right: 0.65em;
	height: 0;
	vertical-align: bottom;
	width: 0;
}

.no-js #mainContent .expandable h3:before {
	border-top: 5px solid #424286;
	border-right: 5px solid transparent;
	border-bottom: none;
	border-left: 5px solid transparent;
	vertical-align: middle;
}

.expandable .content {
	padding: 1em 4em 2em;
}

#mainContent .featuredImage {
	margin: 0 0 0px 0;
}

/* ----
Header Styles
---- */

header {
	font-weight: bold;
	height: 98px;
}

header a, .main-navigation li a {
	color: #0099ff;
	text-transform: none;
}

#logo {
	position: absolute;
	top: -2px;
	cursor: pointer;
	left: 18px;
	width: 132px;
	height: 56px;
	background: transparent url(../images/logo.png) no-repeat;
	text-indent: -9999px;
}

#toolbox {
	position: absolute;
	top: 2px;
	right: 0px;
}

#toolbox a {
	display: inline-block;
	font-size: 12px;
	line-height: 12px;
	padding: 0 13px 0 12px;
}

a.yourAccount {
	color: #424286;
}

a.yourAccount:before {
	content: '\f061';
	display: inline-block;
	font-family: 'fontawesome-MITLibraries';
	font-style: normal;
	font-weight: normal;
	margin-right: 0.5em;
	text-decoration: none;
}

#asktell {
	display: inline-block;
	background: transparent url(../images/divider-gradient.png) no-repeat top left;
	padding: 0 0 0 18px;
	position: relative;
	top: 6px;
}

header nav {
	position: absolute;
	font-size: 14px;
	top: 68px;
	left: -19px;
	margin-top: 0px !important;
}

header #site-navigation a {
	display: inline-block;
	/*background: transparent url(../images/icon-nav-arrow.gif) no-repeat right center;*/
	padding-right: 15px;
	margin-right: 15px;
}

#site-navigation li, #megaMenu {
	background: transparent;
}

nav a.active {
	color: #000;
}


#megaMenu .sub-menu {
	background: #fff;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #333;
}

#breadcrumb {
	background: #eceaea;
	font-size: 12px;
	padding: 3px 20px 7px 20px;
	height: 12px;
	color: #666666;
}

.betterBreadcrumbs {
	background: #eceaea;
	color: #666666;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: 0.5em 0.5em 0.5em 1.5em;
}

.betterBreadcrumbs span:not(:last-of-type):after {
	content: '\00bb';
	display: inline-block;
	margin: 0 0.25em;
}

.title {
	position: relative;
	background: #333;
	color: #fff;
	padding: 18px 0px 15px 20px;
	margin-bottom: 20px;
}

.pageTitle {
	background: #333;
	color: #f7f7f7;
	font-size: 1.75rem;
	line-height: 1;
	padding: 0.7em 0 0.7em 0.75em;
	position: relative;
	width: 100%;
}

.page-template-page-hours-php .title,
.page-template-page-main-locations-php .title {
	margin-bottom: 0px;
}

.title h1,
.title h2 {
	font-size: 28px;
	line-height: 28px;
	margin-bottom: 6px;
}

.title h1 a,
.title h2 a {
	color: #fff;
}

.libraryContent .librarySubject,
.libraryContent h2,
.title h3 {
	font-size: 22px;
	line-height: 24px;
	font-weight: normal;
}

.libraryContent .libraryName {
	display: block;
	margin-bottom: 6px;
}

.libraryContent .librarySubject {
	display: block;
}

.title .sub {
	font-size: 14px;
	color: #e4e5ec;
	line-height: 16px;
}

.title a {
	color: #ffcc33;
}

.libraryAlert {
	border: 1px solid #ac944d;
	bottom: 10px;
	font-size: 16px;
	line-height: 1.5;
	padding: 0.5em;
	position: absolute;
	right: 10px;
	width: 200px;
}

.libraryTitle .libraryAlert {
	max-height: 4.5em;
	overflow: hidden;
}

.page-hours .libraryTitle .libraryAlert {
	border: none;
	line-height: 1.5;
	margin: 0 auto;
	text-align: left;
	position: relative;
	width: 18em;
}

.page-hours .libraryAlert a:after {
	content: '\f061';
	display: inline-block;
	font-family: 'fontawesome-MITLibraries';
	font-size: 0.75em;
	font-style: normal;
	margin-left: 0.5em;
	text-decoration: none;
	vertical-align: text-bottom;
}

.libraryAlert h3 {
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

.todayHours {
	position: absolute;
	top: 20px;
	right: 20px;
	width: 200px;
	font-size: 14px;
	line-height: 20px;
}

.todayHours b {
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
}

.libraryTitle {
	height: 148px;
	padding-top: 22px;
}

.tertiaryPage .title h2 {
	font-weight: normal;
}

.tertiaryPage .entry-content h2 {
	font-size: 24px;
	font-weight: normal;
}

.tertiaryPage .entry-content h3 {
	font-size: 14px;
}

#content {  
	/*margin: 10px 10px 10px 10px;*/
	font-size: 14px;
	line-height: 20px;

}

.locationContent {
	margin-top: 70px !important;
}

.locationContent.noThumbs {
	margin-top: 15px !important;
}

.single-location .noThumbs #sidebarContent {
	margin-top: 5px !important;
}

#leftContent {
	/*width: 140px;*/
	border-right: 1px solid #eceaea;
	font-size: 12px;
	line-height: 12px;
}

#mainContent {
	float: left;
	/*width: 700px;*/
}

.noThumbs #mainContent {
	margin-top: 0px !important;
}

.locationContent #mainContent {
	margin-top: 50px;
}


.thinSidebar #mainContent {
	/*width: 720px;*/
}

.column3 #mainContent {
	/*width: 540px;*/
}

.column1 #mainContent {
	/*width: 940px;*/
}

#leftContent {
	margin-top: 20px;
}

.snav li.active a, .pagenav ul li.active a{
	color: #666;
}

#sidebarContent {
	float: right;
	margin: 0 0 0 0px;
	/*width: 230px;*/
}

.thinSidebar #sidebarContent{
	/*width: 170px !important;*/
}

.snav li, .pagenav ul li {
	list-style-image: url(../images/nav-arrow-blue.png);
	margin-left: 10px;
	margin-bottom: 10px;
}

.snav li.active, .pagenav ul li.active {
	list-style-image: none;
	color: #666;
}

.sidebarWidgets {
	background: #ede8e2;
}

.widgetButton {
	display: block;
	margin: 0 0 10px 0;
}

.findStudySpace {
	background: url('../images/find_study_space-bg.png') center no-repeat;
	height: 70px;
	margin-bottom: 15px;
	text-align: center;
	width: 190px;
}

.findStudySpace h3 {
	font-size: 15px;
	font-size: 0.95rem;
	line-height: 70px
}

.findStudySpace h3 a {
	color: #5c120d;
}

.widget {
	padding: 20px 10px 20px 20px;
	border-bottom: 5px solid #d2ccc4;

}

.lastWidget {
	border-bottom: none;
}

.thinSidebar .widget {
	padding: 10px 5px 10px 10px;
}

.widget h2,
.widget h3 {
	color: #666666;
	font-size: 16px;
	line-height: 16px;
	margin: 0 0 10px 0;
}

.thinSidebar .widget h2,
.thinSidebar .widget h3 {
	font-size: 14px;
}

.widget h4 {
	font-weight: bold;
	font-size: 18px;
	margin: 20px 0 10px 0;
	color: #000;
}

.study247 {
	text-indent: -9999px;
	display: block;
	width: 56px;
	height: 30px;
	background: transparent url(../images/study247.png) no-repeat;
	margin: 0 0 5px 0;
}

.widget ul li {
	list-style-image: url(../images/list-arrow-blue.png);
	margin-left: 15px;
	margin-bottom: 2px;

}

ul.checklist li {
	list-style-image: url(../images/icon-check.png);
	margin-left: 15px;
}

#footerContent a, #footerHeader a {
	color: #3b3a74;
}

#footerContent a:hover, #footerHeader a:hover {
	color: #3b3a74;
	
}


#footerHeader a {
	color: #c9e3fc;
}

#footerHeader a:hover {
	color: #c9e3fc;
	
}

#footerContent h3 a:hover {
	color: #000;
}

#footerHeader {
	position: relative;
	height: 72px;
}

#logoFooter {
	width: 111px;
	height: 47px;
	position: absolute;
	top: 16px;
	left: 18px;
	text-indent: -9999px;
	background: transparent url(../images/logo-black.png) no-repeat;
}

#footerHeader #footerMainLink {
	position: absolute;
	top: 51px;
	left: 190px;
}
#footerHeader #footerSubLink {
	position: absolute;
	top: 51px;
	right: 20px;
}

#footerContent .span2 {
	margin-left: 20px;
	width: 135px !important;
}
#socialFooter {
	position: absolute;
	top: 20px;
	right: 17px;
	text-align: right;
	line-height: 17px;
}

.social {
	display: inline-block;
	width: 17px;
	height: 17px;
	text-align: left;
	text-indent: -9999px;
	background-image: url(../images/social-icons.png);
	background-repeat: no-repeat;
	margin-left: 2px;
}

#twitter {
	background-position: -0px 0px;
}

#facebook {
	background-position: -20px 0px;
}

#rss {
	background-position: -40px 0px;
}

#flickr {
	background-position: -60px 0px;
}

#foursquare {
	background-position: -80px 0px;
}

#google {
	background-position: -100px 0px;
}

#mitLogo {
	display: block;
	float: left;
	width: 170px;
	height: 39px;
	position: relative;
	margin: 25px 0 0 20px;
	text-indent: -9999px;
	background: transparent url(../images/logo-mit.png) no-repeat;
}

footer {
	margin-top: 25px;
}

#footerHeader {
	position: relative;
	background: #333333;
	font-size: 14px;
	color: #ccc;

}

#footerContent {
	position: relative;
	background: #f2f0f1;
	font-size: 14px;
	color: #ccc;
	padding-top: 20px !important;

}

#footerHeader {
	padding: 10px;
}

#footerContent {
	padding: 0 0 10px 0;
	font-size: 12px;
	line-height: 12px;
}

.footerContent {
	background: #f2f0f1;
	color: #ccc;
	font-size: 12px;
	line-height: 12px;
	padding: 20px 0 10px 0;
	position: relative;
	width: 100%;
}

#footerContent ul li {
	list-style-image: url(../images/list-arrow.png);
	margin-left: 15px;
	margin-bottom: 0px;
}



#footerContent h3 {
	font-weight: normal;
	margin: 0px 0 2px 0;
	font-size: 14px;
	line-height: 14px;
}

#footerFooter {
	display: block;
	font-size: 12px;
	position: relative;
	background: #f2f0f0;
	margin-bottom: 50px;
	padding-bottom: 24px;
	border-top: 2px solid #fff;
}

.group:after,
#footerFooter:after { /* clearfix */
	content: "";
	display: table;
	clear: both;
}

.copyright {
	float: right;
	margin-top: 19px;
	margin-right: 20px;
	position: relative;
	width: 280px;
}
/** Locations Home **/

#locationsHome {
	width: 960px;
	height: auto;
	background: #262626 url(../images/content/locations.png) no-repeat center bottom;
	margin-bottom: 20px;
}

.activeMap #locationsHome {
	background-image: none;
}


.studyList>li.odd {
	background-color: #eceaeb;
}

.locationList li {
	display: block;
	float: left;
	/*width: 220px;*/
	color: #76747a;
	height: 125px;
	
	
}

.locationList .icon-arrow-right {
	color: #424286;
}

#mainContent .locationList li h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin: 0 0 0 0;
}

.locationMainList {
	position: relative;
	padding: 0px 0 0 20px;
	height: 468px;
}

.locationMainList li {
	position: relative;
	display: block;
	float: left;
	width: 438px;
	height: 124px;
	background: transparent url(../images/location.png) no-repeat;
	color: #cccccc;
	margin: 20px 20px 0px 0;
	padding: 0 0 0 10px;
	font-size: 14px;
	line-height: 18px;
}

.locationMainList .icon-arrow-right {
color: #ffcc33;
}

.locationMainList li .hours {
	display: block;
	margin: 0px 0 5px 0px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.locationMainList .locationLink:after,
.locationMainList .map:after {
	content: ' \f061';
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
}

.locationMainList li h2 {
	color: #ffcc33;
	margin: 15px 0 5px 0;
	font-size: 24px;
	line-height: 24px;
}

.locationMainList h2 a {
	color: #ffcc33;
}

.locationMainList .sub {
	text-transform: uppercase;
}

.locationMainList .map {
	border-left: 1px solid #ccc;
	padding-left: 5px;
	color: #ffcc33;
}

.title .extraInfo {
	position: absolute;
	top: 22px;
	right: 5px;
}

.extraInfo a {
	display: inline-block;
	color: #ffcc33;
	margin-right: 20px;
	font-size: 14px;
	line-height: 15px;
}

.extraInfo .btn {
	margin-top: -2px;
}

.extraInfo .btnShow {
	color: #000;
	width: 70px;
	text-align: center;
}

.libraryContent {
	width: 240px;
	
}

.librarySlideshow {
	position: absolute;
	top: 9px;
	left: 270px;
	width: 440px;
	height: 176px;
	overflow: visible;
}

.librarySlideshow .thumb {
	display: inline-block;
	border: 1px solid #cc6600;
	margin: 0 10px 0 0;
	width: 38px;
	height: 38px;
}

#slideshowNav {
	display: block !important;
	position: absolute;
	top: 186px;
	left: 0px;
	color: #000;

}

.tabnav {
	border-bottom: 1px solid #ccc;
	height: 49px;
}
.tabnav .active {
	z-index: 10;
}

.tabnav li {
	position: relative;
	z-index: 1;
	display: block;
}

.tabnav h2 {
	clear: none;
	margin: 0;
}

.tabnav a {
	outline: none !important;
	display: block;
	float: left;
	border-left: 1px solid #cccccc;
	height: 29px;
	padding: 10px 20px 10px 10px;
	display: block;
	background: transparent url(../images/tab.png) right top;
	color: #000;
	font-weight: bold;
	font-size: 18px;
	line-height: 18px;
	margin-right: -10px;
	border-bottom: 1px solid #cccccc;
}

.tabnav a:hover {
	text-decoration: none;
}

.tabnav a div {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;	
}

.tabnav .active a{
	background-position: right bottom;
	z-index: 10;
	border-bottom: 1px solid #fff;
}

.tabcontent {
	position: relative;
	clear: both;
	width: 700px;
}

.page-template-page-location-php .tabcontent .span3 {
	width: 359px;
}

.tabcontent .tab .row .first {
	border-right: 1px solid #ccc;
	padding-right: 10px;
}

.tabcontent .wideColumn {
	border-right: none !important;
	padding-right: 0px;
}

.noTab .tab {
	padding-top: 0px !important;
}

.tabcontent .tab {
	display: none;
	padding: 20px 0 0 10px;
}

#mainContent .tabcontent .tab h3 {
/*
	margin: 0 0 0px 0;
	font-size: 14px;
	font-weight: bold;
*/
}

.tabcontent .active {
	display: block;
}


.profile {
	background: #ede8e2;
	padding: 15px 10px 0px 10px;
	position: relative;
	left: -10px;
	font-size: 14px;
	/*width: 340px;*/
	margin: 0 0 15px;
}

.profile img {
	position: relative;
	float: left;
	border: 1px solid #999999;

}

#mainContent .size-thumbnail, #mainContent img {
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	border: 1px solid #999;
}

.profile .profileContent {
	position: relative;
	float: left;
	top: 0px;
	left: 20px;
	width: 150px;
}

.profile .intro {
	color: #666666;
}

#mainContent .profile h3 {
	margin: 0;
}

.profile h3 span {
	display: block;
}

.profile h3 .intro,
.profile h3 .bio {
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.profile h3 .name {
	margin: 10px 0 0;
	margin: 0.625rem 0 0;
}

.profile .links {
	margin: 5px 0 15px 0;
}

.profile .links a {
	display: block;
}

.profile .links a.primary {
	font-weight: bold;
}

ul.arrows li,
.single-location .tab ul.arrows li,
.page-template-page-location-php .tab ul.arrows li
{
	list-style-image: url(../images/arrow-right-blue.png);
	margin-left: 15px;
}

.locationContent ul li {
	list-style-type: disc;
	margin-left: 15px;
}



.footerCol {
	width: 130px !important;
}

.footerCol>h3 {
	color: #333;
}

.widget #s {
	width: 90%;
}

.widget .widget-title {
	text-transform: none;
	color: #666;
}

.single-location #sidebarContent {
	position: relative;
	margin-top: -50px;
}

.sideContent {
	float: right;
	width: 350px;
	line-height: 18px;
}

.span7 .sideContent {
	width: 210px;
}	

.sideContent p {
	line-height: 18px;
}

/** Study Spaces **/


.studyList>li {
	position: relative;
	background-repeat: no-repeat;
	background-position: left middle;
	height: 190px;
	padding-left: 130px;
	margin-bottom: 10px;
}

.space247 {
	display: block;
	position: absolute;
	top: 30px;
	right: 10px;
	width: 56px;
	height: 30px;
	background: transparent url(../images/study247.png) no-repeat;
	text-indent: -9999px;
}
.libraryTitle .space247 {
	right: 10px;
	top: 15px;
	background: transparent url(../images/study247-light.png) no-repeat;
}

.locationMainList .space247 {
	right: 20px;
	background: transparent url(../images/study247-light.png) no-repeat;
}

.name .space247 {
	position: relative;
	top: auto;
	left: auto;
	right: auto;
	text-indent: -9999px;
}

.studyList .info {
	width: 100%;
	clear: both;
	position: relative;
	z-index: 9;
}

.reserve {
	position: absolute;
	top: 80px;
	right: 10px;
	background: #666666 url(../images/icon-reserve.png) no-repeat 10px 15px;
	border: 1px solid #434286;
	padding: 10px 10px 10px 38px;
	color: #fff;
	width: 100px;
	z-index: 10;
}

.reserve:hover {
	color: #ccc;
	text-decoration: none;
}

.info {
	position: relative;
	
}

.info .first {
	margin-left: 0px !important;
	padding-left: 0px !important;
	border-left: none !important;
}

.info .infoCol {
	width: 120px;
	margin-left: 10px;
	padding-left: 10px;
	border-left: 1px solid #ccc;
	display: block;
	float: left;
	min-height: 90px;
	color: #737373;
	font-size: 12px;
	line-height: 16px;
}

.studyList .content {
	padding-top: 20px;
}

#mainContent .studyList .content h3 {
	color: #424286;
}

.studyList .content .description {
	width: 400px;
}

.studyList .info {
	margin-top: 5px;
	margin-bottom: 5px;
}	

.studyList h3 {
	margin-bottom: 0px !important;
	line-height: 20px;
	font-size: 18px;
}	

.studyList .infoCol h4 {
	font-weight: normal;
	text-transform: none;
	color: #737373 !important;
	margin-bottom: 0px !important;
	font-size: 12px !important;
	line-height: 15px !important;
}

.studyList .hours {
	display: block;
	color: #666666;
	font-weight: bold;
	margin-top: 5px;
}



.studyList ul li {
	list-style-type: disc;
	margin-left: 15px;
	font-size: 11px;
	line-height: 14px;
}

/* ---- Hours ---- */

.upcomingSpecial {
	font-size: 14px;
	max-height: 8em;
	line-height: 1.5;
	margin: -30px auto 0;
	margin: -1.85em auto 0;
	overflow: hidden;
	width: 22em;
}

.specialHours {
	font-weight: bold;
}

.specialHours b {
	color: #ca3;
}

.hourCalendar {
	width: 160px;
	position: absolute;
	top: 10px;
	right: 20px;
}

.gldp-default {
	background: transparent !important;
}

.gldp-default .core {
	background: transparent !important;
	color: #fff;
	text-shadow: none;
	filter: none !important;
	font-size: 12px;
	border: none;
}

.gldp-default .next-arrow, .gldp-default .prev-arrow {
	color: #cca333;
	text-shadow: none;
}

.gldp-default .monyear {
	font-size: 14px !important;
}

.gldp-default .dow {
	font-weight: normal;
	color: #ccc;
}

.gldp-default .mon, 
.gldp-default .tue, 
.gldp-default .wed, 
.gldp-default .thu, 
.gldp-default .fri, 
.gldp-default .sat, 
.gldp-default .sun {
	color: #cca333;
	font-weight: normal;
} 

.gldp-default .selected {
	color: #333;
	background: #cca333 !important;
}	

#hourContent {
	width: 100%;
}	

#hourNav {
	background: #fff;
	margin: 0;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.isSticky #hourNav {
	border-bottom: 3px solid #333;
	box-shadow: 0 8px 6px -6px black;
	z-index: 11;
}

#hourNav > div {
	float: left;
	margin: 10px 0;
}

#hourNav #prevWeek {
	margin-left: 230px;
}

#hourNav #thisWeek {
	margin-left: 215px;
}

#hourNav #nextWeek {
	float: right;
	margin-right: 10px;
}
#hourNav, #hourNav a {
	color: #424286;
}

.hrList {
	clear: both;
	width: 100%;
	table-layout: fixed;
}

.hrList thead {	
	border-top: 5px solid #333;
	border-bottom: 5px solid #ccc;
}

.list2 thead {
	border-top: none !important;
}

.hrList th {
	vertical-align: bottom;
	padding: 15px 10px 15px 10px;
	border-left: 1px solid #ccc;
	width: 83px;
}
.hrList td {
	/*position: relative;*/
	width: 83px;

}

.tdInside {
	left: -10px;
	top: -20px;
	height: 1px;
	position: relative;
}

.hrList th .date {
	font-weight: bold;
}

.hrList th.cur {
	border-left: 1px solid #cca329;
	background: #cca329;
	border-bottom: 5px solid #cca329;
}
.hrList th.curAfter {
	border-left: 1px solid #cca329;
}

.hrList td.cur {
	border-left: 1px solid #cca329;
	background: #ffcc33;
	border-bottom: 5px solid #cca329;
	z-index: 10;
}

.hrList td.curAfter {
	border-left: 1px solid #cca329;
}

.hrList td {
	padding: 10px;
	border-left: 1px solid #ccc;
	border-bottom: 5px solid #ccc;
	
}

.hrList .even td {
	background: #eceaea;
	
}

.hrList .even td.cur {
	background: #ecbb2f;
}

.hrList th.name {
	color: #000;
	font-weight: bold;
	border-left: none;
	font-size: 20px;
	width: 200px;
}

.hrList td.name {
	border-left: none;
}

.hrList .name .libraryAlert {
	background: #333;
	border: none;
	bottom: auto;
	color: #f7f7f7;
	display: block;
	font-size: 1em;
	margin-top: 0.5em;
	margin-left: 1em;
	max-width: 14em;
	padding: 0.25em 0.25em 0.25em 2em;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.hrList .libraryAlert .icon-exclamation-sign {
	color: #ffcc33;
	float: left;
	font-size: 1.5em;
	margin-top: -12px;
	margin-left: -1.075em;
	position: absolute;
	top: 50%;
}

.hrList .libraryAlert h3 {
	display: inline;
	font-size: 1em;
	line-height: 1;
}

.hrList .name .libraryAlert p {
	display: inline;
	max-width: 12em;
}

.hrList .libraryAlert h3 a,
.hrList .libraryAlert p a {
	color: #ffcc33;
}

.hrList td h3{
	line-height: 18px;
}

#wpstats {
	display: none !important;
}

#map {
	display: none;
	height: 340px;
	width: 960px;
	background: #ccc;
	position: relative;
}

#map img {
  max-width: none;
}

#map .infoImage {
	display: block;
	float: left;
	width: 116px;
	height: 107px;
	margin: 0 0px 0 0;
	background-size: cover;
	
}

/*
#map .infoContent {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 270px;
	margin: 3px 0 0 3px;
	line-height: 21px;
}

#map .content {
	float: left;
	width: 144px;
	margin-left: 10px;
	margin-top: 5px;
	line-height: 21px;
}

#map .content h3 {
	font-size: 16px;
	font-weight: bold;
	color: #ffcc33;
	margin: 0px;
	line-height: 21px;
}

#map .content h3 a {
	color: #ffcc33;
	line-height: 21px;
}
*/

#map .infoBox {
	display: block;
	width: 280px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#map .infoContent {
	background: #333;
	display: block;
	padding: 3px 0 3px 3px;
	position: relative;
	width: 100%;
}

#map .infoBox:after { /* Tool tip triangle */
	content: '';
	border-right: 10px solid transparent;
	border-top: 10px solid #333;
	border-left: 10px solid transparent;
	display: block;
	height: 0;
	margin: 0 auto;
	position: relative;
	width: 0;
}

#map .content {
	float: left;
	width: 127px;
	margin: 0.5em 0 0.5em 0.5em;
}

#map .content h3 {
	font-size: 16px;
	font-weight: bold;
	color: #ffcc33;
	line-height: 1;
	margin: 0px;
}

#map .content h3 a {
	color: #ffcc33;
}

@media screen and (max-width: 480px) {
	#map {
		margin: 0 auto;
		width: 90%;
	}
	#map .infoBox {
		margin-left: 67px;
		width: 140px;
	}
	#map .infoImage {
		display: none;
	}
	#map .content {
		width: 100px;
	}
}

#map .building {
	font-size: 12px;
	font-weight: bold;
	color: #ccc;
}

#map .directions {
	font-size: 12px;
	color: #ffcc33;
}

#map .directions a {
	color: #ffcc33;
}

.infoBox>img {
	z-index: 500;
}

.meta {
	display: none;
}

.InfoWindow {
	background: #f00;
}

.menu-toggle {
	display: none !important;
}

.gldp-default .monyear {
	font-size: 12px !important;
}

#hoursLink {
	font-size: 16px;
}

.dark a[href^=tel] {
	color: #ffcc33;
}
.light a[href^=tel] {
	color: #424286;
}

#cse-search-box  input[type=text]{
	vertical-align: top;
}

body:not(.page-site-search) #cse-search-box  input[type=text] {
	width: 100px;
}

#cse-search-box input[type=submit] {
	height: 30px;
	vertical-align: top;
}

/** Spanning messages in calendar **/

.message {
	position: absolute;
	top: 10px;
	border: 1px solid #000;
	background: #333;
	color: #fff;
	padding: 3px 13px 3px 3px;
	text-align: center;
	z-index: 20;
}

.msgSpan1 {
	width: 83px;
}

.msgSpan2 {
	width: 188px;
}

.msgSpan3 {
	width: 293px;
}

.msgSpan4 {
	width: 398px;
}

.msgSpan5 {
	width: 503px;
}

.msgSpan6 {
	width: 608px;
}

.msgSpan7 {
	width: 713px;
}

.msgContinued {
	left: 0px;
	padding-left: 13px;
}

.msgEnds {
	padding-right: 3px;
}

.msgSpan7.msgContinued {
	padding-right: 3px;
}


.mobileDay, .mobileToday {
	display: none;
}

.fullHourDay {
	display: block;
}
.mobileHourDay {
	display: none;
}


.uber-close {
	line-height: 24px !important;
	font-size: 24px !important;
	background: #333 !important;
	padding: 0px 0px 0px 10px !important;
	display: none !important;
}

.megaHover .uber-close {
	display: block !important;
}

.sideContent .videoRight {
	display: block;
	position: relative;
}

.sideContent .videoRight:after { /* clearfix */
	clear: both;
	content: '';
	display: table;
}

.sideContent .videoRight  iframe {
	float: right;
	margin-bottom: 0;
}

.sideContent .videoRight a {
	clear: both;
	display: block;
	float: right;
	width: 240px;
}

.sideContent .videoRight > div {
	clear: right;
	position: relative;
}

.sideContent .videoRight > div a {
	padding: 0;
	position: relative;
}

.entry-content iframe {
	margin: 0;
}

.entry-content .aboutVideoLink {
	display: block;
	max-width: 240px;
}

#mainContent ol {
	list-style: decimal;
	margin: 1em 1.5em;
}

/* ---- Better, Faster, Stronger ---- */

.boxSizingOn,
.boxSizingOn * {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.boxSizingOn #footerHeader {
	height: 92px;
}

/* ---- Begin New Flexbox Styles ---- */

.flexContainer {
	display: block;
}

.flexItem,
html:not(.flexbox) .flexItem.first,
html:not(.flexbox) .flexItem.third {
	float: left;
	margin: 1em 0;
}

html:not(.flexbox) .flexItem.second {
	float: left;
	margin: 1em 16px;
	margin: 1em 1rem;
}

html:not(.flexbox) .page-getit .flexItem.first,
html:not(.flexbox) .page-getit .flexItem.second,
html:not(.flexbox) .page-getit .flexItem.third {
	width: 293px;
}

html:not(.flexbox) .page-getit .flexItem {
	min-height: 600px;
}

.flexbox .flexContainer {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.flexbox .flexItem {
	margin: 0 auto;
	float: none;
	flex: 1 1 auto;
	max-width: 290px;
}

.page-getit .mainContent,
.page-getit .mainContent * {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.page-getit .mainContent {
	margin: 0 0 0 30px;
	padding: 0 1em;
	max-width: 940px;
	width: 100%;
}

.page-getit .flexContainer {
	width: 100%;
}

.page-getit .postTitle {
	font-size: 1.5em;
	line-height: 1.5;
	margin-bottom: 0.5em;
}

.page-getit .postContent {
	line-height: 1.5;
}

.page-getit .yourSearch.header {
	background: #333;
	border: 2px solid #333;
	border-radius: 3px;
	box-shadow: 0 0 3px #444;
	color: #f7f7f7;
	font-family: 'Open Sans';
	font-size: 1.2em;
	margin: 2em 0 0;
	padding: 1em;
}

.page-getit .yourSearch h2 {
	color: #ffcc33;
	font-size: 2em;
	margin-bottom: 0.5em;
}

.page-getit .yourSearch.header p {
	font-size: 1.1em;
	line-height: 1.5;
}

.page-getit .yourSearch.header a {
	color: #ffcc33;
}

.page-getit .mainContent .flexItem h3,
.page-getit .mainContent .flexItem h4 {
	color: #3f1c08;
	font-family: 'Open Sans';
	text-shadow: 1px 1px #fff6ed;
}

.page-getit .mainContent .flexItem h3 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

.page-getit .mainContent .flexItem h4 {
	font-size: 1.25em;
	margin-top: 2em;
}

.page-getit .flexItem {
	background: #ede8e2;
	border-radius: 3px;
	box-shadow: 0 0 3px #444;
	margin: 1em;
	padding: 1em;
	position: relative;
	text-align: center;
	width: 33%;
}

.page-getit .flexItem.first {
	margin-left: 0;
}

.page-getit .flexItem.second {
	background: #fff9ef;
	width: 34%;
}

.page-getit .flexItem.third {
	margin-right: 0;
}

.page-getit .flexItem div {
	background: #333;
	border-radius: 3px;
	color: #eee8e1;
	font-size: 1.25em;
	line-height: 1.25;
	padding: 1em;
	text-align: left;
}

.page-getit .flexItem p a:first-of-type {
	display: block;
	margin-bottom: 0.25em;
	font-weight: bold;
	text-align: center;
}

.page-getit .flexItem a {
	color: #ffcc33;
}

.page-getit .flexItem h4:after {
	content: '\f175';
	display: block;
	font-family: 'fontawesome-MITLibraries';
	font-size: 2em;
	margin: 1em;
}

.mainContent .tabcontent,
.mainContent .tabcontent * {
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.flexbox .tabcontent .flexContainer {
	display: none;
}

.flexbox .tabcontent .active.flexContainer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mainContent .tabcontent .tab {
	padding: 1.5em 0 0;
}

.mainContent .tabcontent .first,
.mainContent .tabcontent .second {
	margin: 0;
	width: 50%;
	max-width: none;
}

html:not(.flexbox) .mainContent .flexItem {
	margin: 16px 0;
	margin: 1rem 0;
}

.mainContent .tabcontent .first {
	border-right: 1px solid #ccc;
	padding-right: 1.5em;
}

.mainContent .tabcontent .second {
	padding-left: 1.5em;
}

.mainContent .tab2 .first {
	margin: 0;
	padding: 0 1rem;
	width: 26%;
}

.mainContent .tab2 .second {
	width: 74%;
}

.mainContent .tab2 .reserve {
	color: #fff;
	width: 100%;
}

.locationPage .profile {
	left: auto;
}