/*
Reset CSS
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, acronym, big, font, img, small, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
body {line-height:1;}
ol, ul {list-style:none;}
blockquote, q {quotes:none;}
:focus {outline:0;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {border-collapse:collapse; border-spacing:0;}

/*
Main CSS
*/

.inner { // Affects some pages, including /hours. TODO: make this an @extend?
	position: relative;
	display: block;
}

a {
	text-decoration: none;
	color: #424286;
}

a:hover {
	color: #424286;
}
.entry-content a,
.tabcontent a
{
	color: #004bbd;
}

.entry-content a:hover,
.tabcontent a:hover {
	color: #004bbd;
}

.entry-content .btn-warning,
.tabcontent .btn-warning {
	color: #fff;
}

.tabcontent .tab .row>div {
	position: relative;
}

p, .entry-content p {
	margin-bottom: 10px !important;
}

.entry-content object {
	margin-bottom: 10px;
}

.entry-content ul {
	margin-bottom: 10px;
}

.clear {
	clear: both;
}

img {
	margin: 0px;
	padding: 0px;
}

#mainContent {
	position: relative;
}

.page-barton-help .mainContent {
	width: 100%;
}

#mainContent>.space247 {
	top: 10px;
}

#mainContent .entry-content {
	padding: 20px 20px 20px 20px;
}

.entry-content ul li {
	list-style: disc;
	margin-left: 40px;
	margin-bottom: 5px;
}

.entry-content ul, #mainContent ul {
	margin-bottom: 10px;
}

.snav li.active a, .pagenav ul li.active a{
	color: #666;
}

.snav li, .pagenav ul li {
	list-style-image: url(#{$imagesPath}/nav-arrow-blue.png);
	margin-left: 10px;
	margin-bottom: 10px;
}

.snav li.active, .pagenav ul li.active {
	list-style-image: none;
	color: #666;
}

.widgetButton {
	display: block;
	margin: 0 0 10px 0;
}

.study247 {
	text-indent: -9999px;
	display: block;
	width: 56px;
	height: 30px;
	background: transparent url(#{$imagesPath}/study247.png) no-repeat;
	margin: 0 0 5px 0;
}

ul.checklist li {
	list-style-image: url(#{$imagesPath}/icon-check.png);
	margin-left: 15px;
}

/** Locations Home **/

.profile {
	background: #ede8e2;
	font-size: 14px;
	margin: 0 0 15px;
	padding: 15px 10px 0px 10px;
	position: relative;
}

.profile img {
	position: relative;
	float: left;
	border: 1px solid #999999;

}

#mainContent .size-thumbnail, #mainContent img {
	border-radius: 3px;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	border: 1px solid #999;
}

.profile .profileContent {
	position: relative;
	float: left;
	top: 0px;
	left: 20px;
	width: 150px;
}

.profile .intro {
	color: #666666;
}

#mainContent .profile h3 {
	margin: 0;
}

.profile h3 span {
	display: block;
}

.profile h3 .intro,
.profile h3 .bio {
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.profile h3 .name {
	margin: 10px 0 0;
	margin: 0.625rem 0 0;
}

.profile .links {
	margin: 5px 0 15px 0;
}

.profile .links a {
	display: block;
}

.profile .links a.primary {
	font-weight: bold;
}

ul.arrows li,
.single-location .tab ul.arrows li,
.page-template-page-location-php .tab ul.arrows li
{
	list-style-image: url(#{$imagesPath}/arrow-right-blue.png);
	margin-left: 15px;
}

.locationContent ul li {
	list-style-type: disc;
	margin-left: 15px;
}

.single-location #sidebarContent {
	position: relative;
	margin-top: -50px;
}

.sideContent {
	float: right;
	width: 350px;
	line-height: 18px;
}

.sideContent p {
	line-height: 18px;
}

/* ---- Hours ---- */

.specialHours {
	font-weight: bold;
}

.specialHours b {
	color: #ca3;
}

#hourContent {
	width: 100%;
}	

#hourNav {
	background: #fff;
	margin: 0;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.isSticky #hourNav {
	border-bottom: 3px solid #333;
	box-shadow: 0 8px 6px -6px black;
	z-index: 11;
}

#hourNav > div {
	float: left;
	margin: 10px 0;
}

#hourNav #prevWeek {
	margin-left: 230px;
}

#hourNav #thisWeek {
	margin-left: 215px;
}

#hourNav #nextWeek {
	float: right;
	margin-right: 10px;
}
#hourNav, #hourNav a {
	color: #424286;
}

.hrList {
	clear: both;
	width: 100%;
	table-layout: fixed;
}

.hrList thead {	
	border-top: 5px solid #333;
	border-bottom: 5px solid #ccc;
}

.list2 thead {
	border-top: none !important;
}

.hrList th {
	vertical-align: bottom;
	padding: 15px 10px 15px 10px;
	border-left: 1px solid #ccc;
	width: 83px;
}
.hrList td {
	/*position: relative;*/
	width: 83px;

}

.tdInside {
	left: -10px;
	top: -20px;
	height: 1px;
	position: relative;
}

.hrList th .date {
	font-weight: bold;
}

.hrList th.cur {
	border-left: 1px solid #cca329;
	background: #cca329;
	border-bottom: 5px solid #cca329;
}
.hrList th.curAfter {
	border-left: 1px solid #cca329;
}

.hrList td.cur {
	border-left: 1px solid #cca329;
	background: #ffcc33;
	border-bottom: 5px solid #cca329;
	z-index: 10;
}

.hrList td.curAfter {
	border-left: 1px solid #cca329;
}

.hrList td {
	padding: 10px;
	border-left: 1px solid #ccc;
	border-bottom: 5px solid #ccc;
	
}

.hrList .even td {
	background: #eceaea;
	
}

.hrList .even td.cur {
	background: #ecbb2f;
}

.hrList th.name {
	color: #000;
	font-weight: bold;
	border-left: none;
	font-size: 20px;
	width: 200px;
}

.hrList td.name {
	border-left: none;
}

.hrList .name .libraryAlert {
	background: #333;
	border: none;
	bottom: auto;
	color: #f7f7f7;
	display: block;
	font-size: 1em;
	margin-top: 0.5em;
	margin-left: 1em;
	max-width: 14em;
	padding: 0.25em 0.25em 0.25em 2em;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.hrList .libraryAlert .icon-exclamation-sign {
	color: #ffcc33;
	float: left;
	font-size: 1.5em;
	margin-top: -12px;
	margin-left: -1.075em;
	position: absolute;
	top: 50%;
}

.hrList .libraryAlert h3 {
	display: inline;
	font-size: 1em;
	line-height: 1;
}

.hrList .name .libraryAlert p {
	display: inline;
	max-width: 12em;
}

.hrList .libraryAlert h3 a,
.hrList .libraryAlert p a {
	color: #ffcc33;
}

.infoBox>img {
	z-index: 500;
}

.meta {
	display: none;
}

.InfoWindow {
	background: #f00;
}

.menu-toggle {
	display: none !important;
}

#cse-search-box  input[type=text]{
	vertical-align: top;
}

body:not(.page-site-search) #cse-search-box  input[type=text] {
	width: 100px;
}

#cse-search-box input[type=submit] {
	height: 30px;
	vertical-align: top;
}

.sideContent .videoRight {
	display: block;
	position: relative;
}

.sideContent .videoRight:after { /* clearfix */
	clear: both;
	content: '';
	display: table;
}

.sideContent .videoRight  iframe {
	float: right;
	margin-bottom: 0;
}

.sideContent .videoRight a {
	clear: both;
	display: block;
	float: right;
	width: 240px;
}

.sideContent .videoRight > div {
	clear: right;
	position: relative;
}

.sideContent .videoRight > div a {
	padding: 0;
	position: relative;
}

.entry-content iframe {
	margin: 0;
}

.entry-content .aboutVideoLink {
	display: block;
	max-width: 240px;
}

#mainContent ol {
	list-style: decimal;
	margin: 1em 1.5em;
}

.mainContent .tabcontent,
.mainContent .tabcontent * {
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.flexbox .tabcontent .flexContainer {
	display: none;
}

.flexbox .tabcontent .active.flexContainer {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	max-width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.mainContent .tabcontent .tab {
	padding: 1.5em 0 0;
}

.mainContent .tabcontent .first,
.mainContent .tabcontent .second {
	margin: 0;
	width: 50%;
	max-width: none;
}

html:not(.flexbox) .mainContent .flexItem {
	margin: 16px 0;
	margin: 1rem 0;
}