
#megaMenu {
  border:none;
  background-color:transparent;
  background:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));
  background:-webkit-linear-gradient(top,transparent,transparent);
  background:-moz-linear-gradient(top,transparent,transparent);
  background:-ms-linear-gradient(top,transparent,transparent);
  background:-o-linear-gradient(top,transparent,transparent);
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border-radius:0px;
  -moz-background-clip:padding;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  -webkit-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.9);
  -moz-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.9);
  box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.9);
  z-index: 5000;
}
#megaMenu ul.megaMenu > li > a, #megaMenu ul.megaMenu > li > span.um-anchoremulator {
  font-size:14px;
  color:#0099ff;
  padding:0px 15px;
  font-weight:bold;
}
#megaMenu.megaMenuHorizontal ul.megaMenu > li > a, #megaMenu.megaMenuHorizontal ul.megaMenu > li > span.um-anchoremulator {
  border-left:1px solid transparent;
  -webkit-box-shadow:inset 1px 0px 0px 0px rgba(255,255,255,0.9);
  -moz-box-shadow:inset 1px 0px 0px 0px rgba(255,255,255,0.9);
  box-shadow:inset 1px 0px 0px 0px rgba(255,255,255,0.9);
}
#megaMenu.megaMenuVertical ul.megaMenu > li > a, #megaMenu.megaMenuVertical ul.megaMenu > li > span.um-anchoremulator {
  border-top:1px solid transparent;
  -webkit-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.9);
  -moz-box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.9);
  box-shadow:inset 0px 1px 0px 0px rgba(255,255,255,0.9);
}
#megaMenu ul li.ss-nav-menu-reg li.megaReg-with-sub > a, #megaMenu ul li.ss-nav-menu-reg li.megaReg-with-sub > span.um-anchoremulator, #megaMenu ul li.mega-with-sub > a, #megaMenu ul li.mega-with-sub > span.um-anchoremulator, #megaMenu ul li.ss-nav-menu-mega > a, #megaMenu ul li.ss-nav-menu-mega > span.um-anchoremulator 
{ padding-right:20px; }
#megaMenu ul.megaMenu > li > a span.wpmega-link-title, #megaMenu ul.megaMenu > li > span.um-anchoremulator span.wpmega-link-title {
  text-transform:none;
  text-shadow:0 -1px 1px transparent;
}
#megaMenu ul.megaMenu > li:hover > a, #megaMenu ul.megaMenu > li > a:hover, #megaMenu ul.megaMenu > li.megaHover > a, #megaMenu ul.megaMenu > li:hover > span.um-anchoremulator, #megaMenu ul.megaMenu > li > span.um-anchoremulator:hover, #megaMenu ul.megaMenu > li.megaHover > span.um-anchoremulator {
  color:#333 !important;
  border-bottom-color:transparent !important;
  background-color:transparent;
  background:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));
  background:-webkit-linear-gradient(top,transparent,transparent);
  background:-moz-linear-gradient(top,transparent,transparent);
  background:-ms-linear-gradient(top,transparent,transparent);
  background:-o-linear-gradient(top,transparent,transparent);
  -webkit-box-shadow:inset 1px 1px 0px 0px rgba(255,255,255,0.9);
  -moz-box-shadow:inset 1px 1px 0px 0px rgba(255,255,255,0.9);
  box-shadow:inset 1px 1px 0px 0px rgba(255,255,255,0.9);
}
#megaMenu ul.megaMenu > li:hover > a span.wpmega-link-title, #megaMenu ul.megaMenu > li:hover > span.um-anchoremulator span.wpmega-link-title, #megaMenu ul.megaMenu > li > a:hover span.wpmega-link-title, #megaMenu ul.megaMenu > li > span.um-anchoremulator:hover span.wpmega-link-title, #megaMenu ul.megaMenu > li.megaHover > a span.wpmega-link-title, #megaMenu ul.megaMenu > li.megaHover > span.um-anchoremulator span.wpmega-link-title { text-shadow:0 -1px 1px transparent; }
#megaMenu ul.megaMenu > li.current-menu-item > a, #megaMenu ul.megaMenu > li.current-menu-parent > a, #megaMenu ul.megaMenu > li.current-menu-ancestor > a { color:#000000; }
#megaMenu ul.megaMenu > li.ss-nav-menu-mega > ul.sub-menu-1, #megaMenu ul.megaMenu li.ss-nav-menu-reg ul.sub-menu {
  border-color:#000000;
  color:#000000;
  text-shadow:0px 1px 1px transparent;
  -webkit-box-shadow:1px 1px 1px transparent;
  -moz-box-shadow:1px 1px 1px transparent;
  box-shadow:1px 1px 1px transparent;
  background-color:#ffffff;
  background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#ffffff));
  background:-webkit-linear-gradient(top,#ffffff,#ffffff);
  background:-moz-linear-gradient(top,#ffffff,#ffffff);
  background:-ms-linear-gradient(top,#ffffff,#ffffff);
  background:-o-linear-gradient(top,#ffffff,#ffffff);
}
#megaMenu ul.megaMenu ul.sub-menu .wpmega-postlist a { color:#000000; }
#megaMenu ul.megaMenu > li.ss-nav-menu-mega > ul.sub-menu-1 > li { min-width:100px; }
#megaMenu ul li.ss-nav-menu-mega ul.sub-menu-1 > li > a, #megaMenu ul li.ss-nav-menu-mega ul.sub-menu-1 > li:hover > a, #megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu .ss-nav-menu-header > a, #megaMenu ul li.ss-nav-menu-mega ul.sub-menu-1 > li > span.um-anchoremulator, #megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu .ss-nav-menu-header > span.um-anchoremulator, .wpmega-widgetarea h2.widgettitle {
  color:#000000;
  font-size:14px;
  font-weight:bold;
  text-shadow:0px 1px 1px transparent;
  padding-bottom:.4em;
  border-bottom:1px solid #000000;
  margin-bottom:.6em;
}
#megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li > a, #megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li > span.um-anchoremulator, #megaMenu ul ul.sub-menu li > a, #megaMenu ul ul.sub-menu li > span.um-anchoremulator {
  color:#000000;
  font-size:12px;
  text-shadow:0px 1px 1px transparent;
  background-color:transparent;
}
#megaMenu ul li.ss-nav-menu-mega ul ul.sub-menu li a:hover, #megaMenu ul ul.sub-menu > li:hover > a {
  color:#000000;
  background-color:transparent;
}
#megaMenu ul.megaMenu > li.menu-item > .wpmega-nonlink > form#searchform { padding-top:-10px; }
#megaMenu ul.megaMenu li.menu-item.ss-nav-menu-highlight > a, #megaMenu ul.megaMenu li.menu-item.ss-nav-menu-highlight > span.um-anchoremulator { 	color: #333365 !important; }
#megaMenu .ss-nav-menu-with-img > a > .wpmega-link-title, #megaMenu .ss-nav-menu-with-img > a > .wpmega-link-description, #megaMenu .ss-nav-menu-with-img > a > .wpmega-item-description, #megaMenu .ss-nav-menu-with-img > span.um-anchoremulator > .wpmega-link-title, #megaMenu .ss-nav-menu-with-img > span.um-anchoremulator > .wpmega-link-description, #megaMenu .ss-nav-menu-with-img > span.um-anchoremulator > .wpmega-item-description { padding-left:30px; }
.ss-nav-menu-with-img { min-height:25px; }
#megaMenu ul.megaMenu li a span.wpmega-item-description, #megaMenu ul.megaMenu li span.um-anchoremulator span.wpmega-item-description {
  font-size:9px;
  line-height:1.4em;
  color:#000000;
  text-transform:none;
}
#megaMenu ul li.mega-with-sub > a:after, #megaMenu ul li.ss-nav-menu-mega > a:after, #megaMenu ul li.mega-with-sub > span.um-anchoremulator:after, #megaMenu ul li.ss-nav-menu-mega > span.um-anchoremulator:after { border-top-color:transparent; }
#megaMenu ul li.ss-nav-menu-reg li.megaReg-with-sub > a:after, #megaMenu ul li.ss-nav-menu-reg li.megaReg-with-sub > span.um-anchoremulator:after { border-left-color:transparent; }
#megaMenu .wpmega-divider {
  border-top:1px solid #000000;
  border-bottom:1px solid rgba(255,255,255,0.05);
}
#megaMenu.megaMenuVertical > ul > li > a, #megaMenu.megaMenuVertical > ul > li > span.um-anchoremulator {
  background-color:transparent;
  background:-webkit-gradient(linear,left top,left bottom,from(transparent),to(transparent));
  background:-webkit-linear-gradient(top,transparent,transparent);
  background:-moz-linear-gradient(top,transparent,transparent);
  background:-ms-linear-gradient(top,transparent,transparent);
  background:-o-linear-gradient(top,transparent,transparent);
}
#megaMenu.megaMenuVertical ul li.ss-nav-menu-reg li.megaReg-with-sub > a:after, #megaMenu.megaMenuVertical ul li.mega-with-sub > a:after, #megaMenu.megaMenuVertical ul li.ss-nav-menu-mega > a:after, #megaMenu.megaMenuVertical ul li.ss-nav-menu-reg li.megaReg-with-sub > span.um-anchoremulator:after, #megaMenu.megaMenuVertical ul li.mega-with-sub > span.um-anchoremulator:after, #megaMenu.megaMenuVertical ul li.ss-nav-menu-mega > span.um-anchoremulator:after { border-left-color:transparent; }
#megaMenu.megaMenuHorizontal ul.megaMenu { *border-bottom:none; }
#megaMenu.megaMenuVertical ul.megaMenu { *border-right:none; }




/** Color 0099ff **/

#menu-item-248 .sub-menu-1 {
	/*display: block !important;*/
}
/*
	Non linking - 333
	Linking - 333365
	
*/
/** TEMP **/

.megaHover {

}

#megaMenu .megaMenu > li > a {
	color: #004bbd !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	background: transparent url(#{$imagesPath}/arrow-blue.png) no-repeat right 10px;
}

#megaMenu .megaMenu>li:hover {
	/*background: #f7f2ed;*/
}


#megaMenu .megaMenu > li.current-menu-item > a,
#megaMenu .megaMenu > li.current-page-ancestor > a {
	/*
	color: #333 !important;
	background: transparent url(../images/arrow-black.png) no-repeat right 10px;
	*/
}

#megaMenu li,
#megaMenu .wpmega-link-title {
	font-size: 14px !important;
	line-height: 16px !important;
}
#megaMenu a {
	/*color: #333365 !important;*/
	color: #004bbd !important;
}

#megaMenu .wpmega-nonlink {
	color: #464646 !important;
	font-weight: normal;
	padding: 0 0 2px 0 !important;
}

#megaMenu .wpmega-nonlink a {
	display: inline !important;
}
	#megaMenu .ss-nav-menu-item-depth-0>a {
		transition: none !important;
		-moz-transition: none !important;
		-o-transition: none !important;
		-webkit-transition: none !important;
	}

	.megaHover>a {
		/** Add Carrot To **/
		display: block;
		background: #f7f2ed url(#{$imagesPath}/arrow-black.png) no-repeat right 10px !important;
		box-shadow: 3px 0px 1px #ccc !important;
		border: none !important;
	}
	
	#megaMenu ul.megaMenu > li.ss-nav-menu-mega > ul.sub-menu-1, 
	#megaMenu ul.megaMenu li.ss-nav-menu-reg ul.sub-menu {
		border-color: transparent !important;
		box-shadow: 3px 3px 5px #999;
	}
	
	#megaMenu .ss-nav-menu-item-depth-1 {
		display: inline-block;
		width: 41%;
		float: left;
		padding: 0px !important;
		padding-right: 25px !important;
		padding-left: 25px !important;
		margin: 10px 0px 15px 0px!important;
		border-right: 1px solid #c8c4c1 !important;
	}	
	
	#megaMenu .lastSubMenu {
		border-right: none !important;
	}
	
	#megaMenu .ss-nav-menu-item-depth-1>a {
		cursor: default !important;
	}
	
	#megaMenu .firstSubMenu {
		clear: both;
	}
	
	#megaMenu .noBorderRight {
		border-right: none !important;
	}
	
	#megaMenu .borderLeft {
		border-left: 1px solid #c8c4c1 !important;
	}
	
	#megaMenu .sub-menu .uberClearfix::before {
		content: noraml !important;
		display: none;
	}
	
	.ss-nav-menu-item-depth-1>a {
		font-weight: normal !important;
		border-bottom: none !important;
		padding-bottom: 0px !important;
	}
	
	#megaMenu .ss-nav-menu-item-depth-2 {
		margin-left: 23px;
		list-style: url(#{$imagesPath}/li.png) outside none !important;
		list-style-image: url(#{$imagesPath}/li.png);
		display: list-item !important;
		font-size: 9px !important;
		line-height: 8px !important;
		vertical-align: top;
		margin-bottom: 3px !important;
		color: #666;
	}
	#megaMenu .ss-nav-menu-item-depth-3 {
		margin-left: 15px;
		list-style: disc outside none !important;
		display: list-item !important;
		font-size: 8px !important;
		color: #333;
	}

	#megaMenu .ss-nav-menu-item-depth-1>a {
		color: #333 !important;
		/*text-transform: uppercase;*/
		font-weight: normal !important;
		font-family: arial;
		line-height: 16px;
		display: inline;

	}
	
	#megaMenu .ss-nav-menu-item-depth-2 .wpmega-nonlink, #megaMenu .ss-nav-menu-item-depth-2>a {
		font-size: 14px !important;
		margin: 0px 0px 0px 0px !important;
		padding: 0px !important;
	}
	
	#megaMenu .sub-menu-1 {
		width: 650px !important;
	}
	
	#megaMenu .sub-menu-2 {
		line-height: 10px;
		font-size: 10px;
		vertical-align: text-top;
	}
	
	#megaMenu .sub-menu-2>li {
	}
	
	#megaMenu .sub-menu-2>li>div {
		
	}
	
	#megaMenu .sub-menu-2 a {
		font-weight: normal;
	}
	
	#megaMenu .sub-menu-2 a:hover {
		text-decoration: underline !important;
	}
	
	#megaMenu .sub-menu {
		/*background: #f2ede8 !important;*/
		background: #f7f2ed !important;
		border: none;
		border-radius: 0px !important;
		margin-left: -8px !important;  
	}
	
	
	#site-navigation {
		width: 100%;
	}	
	
	
	#megaMenu .ss-nav-menu-highlight {
		clear: both;
		border-right: none !important;
		font-weight: bold;
	}
	
	#megaMenu .ss-nav-menu-highlight a {
		font-weight: bold !important;
		color: #004bbd !important;
		text-transform: none !important;
	}	
	
/* Landscape phone and down -- MOBILE */
@media (max-width: 480px) {
	#megaMenu {
		width: 340px;
		background: #f0f;
	}
	#megaMenu .megaMenu>li {
		width: 160px;
		background: #333;
		border-right: none !important;
	}
	
	#megaMenu .megaMenu > li > a {
		color: #fff !important;
		box-shadow: none !important;
		border-left: none !important;
	}
	#megaMenu .megaMenu > li > a:hover {
		color: #fff !important;
		box-shadow: none !important;
		border-left: none !important;
	}
	
	#megaMenu .megaMenu .wpmega-link-title {
		font-size: 12px !important;
	}
	
	#site-navigation {
		margin-left: -10px;
	}
	
	#megaMenu .ss-nav-menu-item-depth-1 {
		border-right: none !important;
		width: 80% !important;
	}
}	

#megaMenu ul.megaMenu li a,
#megaMenu ul.megaMenu li span.um-anchoremulator{
	line-height:1.2em;
	text-decoration:none;
	cursor:pointer;
	
	-webkit-transition: none !important;
	-moz-transition: none !important;
	transition: none !important;
}

.main-navigation #megaMenu ul li.mega-with-sub > a:after {
  display: none;
}