.libraryAlert {
	border: 1px solid $black;
	border-top: 5px solid $black;
	padding: 15px 10px 10px;
	margin-top: 15px;
}

.alertText h3 {
	font-size: 18px;
	padding-bottom: 5px !important;
	font-weight: 600;
}

.alertText a {
	color: $brand-primary;
	text-decoration: underline;
	&:hover {
		color: $brand-primary-accent;
		text-decoration: none;
	}
}

.home .wrap-page .posts--preview--alerts {
	background: #000;
	border-bottom: 0;
}

.home .wrap-page .posts--preview--alerts:before, 
.home .posts--preview--alerts.inactive:before, 
.home .post.alert--critical {
	box-shadow: none;
}

.posts--preview--alerts:before {
	background: #ed0e0e;
	box-shadow: 0 3px 3px #ccc;
	color: #fff;
	content: '';
	display: block;
	height: 5px;
	opacity: 1;
	transition: box-shadow 0.3s 0.3s ease, // prevents box-shadow from overlaying post div
							max-height 0.3s ease, 
							opacity 0.3s ease;
	width: 100%;
}

.posts--preview--alerts.inactive:before {
	box-shadow: 0 0 0 #ccc;
	max-height: 0px;
	opacity: 0;
}

.posts--preview--alerts .icon-exclamation-sign,
.location--alerts .icon-exclamation-sign {
	color: $black;
	font-size: 3.5em;
	margin: 0 .5em 0 .25em;
	position: relative;
	@include bp-mobile--only {
		font-size: 2.5em;
	}
}

.post.alert--critical {
	align-items: center;
	position: relative;
	@include bp-mobile--only {
		font-size: 0.75em;
	}
}

.action-close {
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	.icon-remove-sign {
    color: #333;
    font-size: 1.5em;
    text-decoration: none;
    }
}

.location--alerts.flex-container {
	align-items: center;
}

@media screen and (max-width:820px) {
	.location--alerts .alertText,
	.post.alert--critical .alertText{
		width: 80%;
	}
}

@media screen and (max-width:720px) {
	.libraryAlertTop {
		padding: 1% 5%;
	}
}
