.breadcrumbs--better {
	background: $color-secondary;
	@include font-size(12px);
	line-height: 1.5;
	padding: 5px 27.5px;
	span {
		display: block;
		float: left;
		position: relative;
		&:not(:last-of-type):after {
			content: '\00bb';
			display: inline-block;
			margin: 0 3px;
		}
	}
}
//
// Begin old styles. Clean this stuff up, when time.
//
.breadcrumbs {
	background: #eceaea;
	clear: both; /* Fixes IE8 issue */
	color: #666666;
	font-size: 12px;
	padding: 8px 8px 8px 27.5px;;
}

.betterBreadcrumbs {
	background: #eceaea;
	clear: both; /* Fixes IE8 issue */
	color: #666666;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: 8px 8px 8px 27.5px;;
	span:not(:last-of-type):after {
		content: '\00bb';
		display: inline-block;
		margin: 0 0.25em;
	}
}