.breadcrumbs--better {
	background: $color-secondary;
	@include font-size(12px);
	line-height: 1.5;
	padding: 5px $margin-left;
	span {
		a {
			margin-left: -4px; /* Fight inline block default spacing */
		}
		&:not(:last-of-type):after {
			content: '\00bb';
			display: inline-block;
			margin: 0 3px;
		}
	}
}