.footer-main {
	background: lighten($color-primary, 7.8431%);
	padding: 2em 1.375em;
	@include bp-large {
		background: $color-primary;
	}
	@include span-12-12;
	a {
		color: $color-secondary;
	}
	.links-all {
		display: none;
		@include bp-tablet--portrait {
			display: flex;
		}
		.flex-item {
			margin-right: 2em;
		}
		.link-sub {
			display: block;
			font-size: 0.75em;
		}
	}
	.links-primary {
		flex-flow: wrap;
		font-size: 0.8125em;
		a {
			display: block;
			width: 50%;
			&:not(:last-of-type) {
				margin-bottom: 1.5em;
			}
			@include bp-tablet--portrait {
				display: none;
			}
		}
	}
	.logo-mit-lib {
		display: block;
		fill: #fff;
		margin-right: 1em;
		width: 67%;
	}
	.social {
		a {
			margin: 0.5em;
		}
		flex-flow: wrap;
		[class*="icon-social"] {
			background: $color-secondary;
			border-radius: 50%;
			height: auto;
			padding: 0.2em;
			width: 1.5em;
			path {
				fill: #474747;
			}
			@include bp-tablet--portrait {
				padding: 0.5em;
				width: 2.5em;
			}
		}
	}
}