.header-main {
	.logo-mit-lib {
		background: url(#{$imagesPath}/logo.png) no-repeat;
		display: block;
		float: left;
		height: 56px;
		width: 132px;
		@include image-replacement;
	}
	.toolbox {
		float: right;
		@include font-size(12px);
		a,
		.button-ask-tell {
			display: inline-block;
		}
	}
	@include font-size(14px);
}