.header-main {
	.logo-mit-lib {
		background: url(#{$imagesPath}/logo.png) no-repeat;
		display: block;
		float: left;
		height: 56px;
		width: 132px;
		@include image-replacement;
	}
	.toolbox {
		float: right;
		margin-top: 0.5rem;
		@include font-size(12px);
		.icon-arrow-right {
			display: inline-block;
			height: 0.75rem;
			margin-top: 0.5rem;
			vertical-align: top;
			width: 0.75rem;
		}
		> a {
			display: inline-block;
			font-weight: bold;
			margin-top: 0.5rem;
			margin-right: 1rem;
			vertical-align: top;
			&:after {
				background: #ccc;
				content: '';
				display: inline-block;
				height: 2rem;
				margin-top: -0.5rem;
				margin-left: 1rem;
				width: 1px;
			}
		}
		.button-ask-tell {
			display: inline-block;
		}
	}
	@include font-size(14px);
}