// A lot this--colors especially--could probably be better handles with a function or two.
.home {
	.hours-locations {
		@include span-4-12;
		@include span-first-child;
		h2 {
			color: $color-hours-locations;
			text-align: center;
		}
		.button-primary {
			@include color-button-primary($color-hours-locations);
		}
	}
	.news-events {
		@include span-8-12;
		h2 {
			color: $color-news-events;
			text-align: center;
		}
		[class*="item"] {
			@include rem-first(min-height, 12.8125);
		}
		.button-primary {
			@include color-button-primary($color-news-events);
		}
	}
	.guides-experts {
		@include span-8-12;
		h2 {
			color: $color-guides-experts;
			text-align: center;
		}
		.button-primary {
			@include color-button-primary($color-guides-experts);
		}
		.button-secondary {
			@include color-button-secondary($color-guides-experts);
		}
		.experts-group {
			justify-content: space-between;
		}
	}
}