* {
	 box-sizing: border-box;
}

// Clearfix
.group:after {
	clear: both;
	content: '';
	display: table;
}

.wrap-page {
	border-top: 8px solid red;
	margin: 0 auto;
	width: 320px;
	@include bp-mobile--landscape {
		border-color: yellow;
		width: 568px;
	}
	@include bp-tablet--portrait {
		border-color: green;
		width: 768px;
	}
	@include bp-large {
		border-color: black;
		width: 1024px;
	}
}

.visually-hidden {
  @extend %visuallyhidden;
}

.h-inline {
	display: inline-block;
}

.content-all {
	margin-left: $margin-left;
	@include bp-small {
		@include rem-fallback--2-values(margin, 0, 16px);
	}
}

.has-sidebar {
	.content-main {
		float: left;
	  padding-right: 2em;
		width: 76.05%;
	}
	.sidebar {
		background: #ede8e2;
		float: left;
		width: 23.91%;
	}
	@include bp-small {
		.content-main {
			float: none;
			padding-right: 0;
			width: 100%;
		}
		.sidebar {
			float: none;
			width: 100%;
		}
	}
}

.flex-container {
	display: flex;
}

.no-flexbox {
	.flex-clear {
		clear: both;
	}
	.flex-container {
		display: block;
	}
	.flex-item {
		float: left;
	}
}