.locationPage {
	.reserve {
		background: #666;
		color: #fff;
		display: block;
		margin: 1em 0;
		padding: 1em;
	}
	.tab {
		display: none;
		&.active {
			display: flex;
		}
		.first {
			@include bp-tablet--portrait {
				margin-right: 1.5em;
				width: 50%;
			}
		}
		.second {
			@include bp-tablet--portrait {
				width: 50%;
			}
		}
		&.tab2 {
			.first {
				width: 20%;
			}
			.second {
				width: 80%;
			}
		}
		h3,
		h4,
		ul.arrows {
			margin-bottom: 15px;
		}
	}
	.profile {
		align-items: flex-start;
		h3 {
			margin-bottom: 0px;
		}
	}
	.tab2.active {
		p {
			margin: 15px 0;
		}
		ul li {
			list-style: disc;
			margin-left: 20px;
			}
			li ul li {
				list-style: circle;
			}
	}
	.content ul+h3 {
		margin-top: 15px;
	}
}
				
.locationPage {
	.tab.tab2 {
		.first {
			width: 20%;
		}
		.second {
			width: 80%;
			}
	}
	ul.with-bullets li {
			list-style: disc;
			margin-left: 20px;
			}
}

// The 2021 location template adjusts column widths because the sidebar is not
// loaded.
.locationPage.page-template-page-location-2021 {
	// This matches the left-margin that is used throughout the site.
	.main-content {
		padding-right: 27.5px;
	}
	.tab {
		.first {
			@include bp-tablet--portrait {
				width: 33%;
			}
		}
		.second {
			max-width: 540px;
			@include bp-tablet--portrait {
				width: 66%;
			}

			.featured-location {
				margin-top: 36px;

				// This overrides default .alignleft styling which has 1em top
				// margin.
				img.alignleft {
					margin-top: 0;
				}
			}
		}
	}
	// This repeats a media-queried rule from _tabs.scss, for all screens.
	.tabcontent {
		border-top: 1px solid #dedede;
		padding-top: 20px;
		clear: both;
	}
}

.page-locations {
	.location-name {
		padding-bottom: 15px;
	}
	h2.more-locations {
		padding-bottom: 0;
	}
	
	.locations-main,
	.locations-secondary {
		flex-wrap: wrap;
		li {
			@include rem-first(padding-right, 1);
			width: 33%;
		}
	}
	.locations-main {
		margin-top: 1.5em;
	}
	
	.map-locations {
		background: #ccc;
		height: 340px;
		position: relative;
		width: 100%;
		@include bp-small {
			margin: 0 auto;
			width: 90%;
		}
		
		img {
		  max-width: none;
		}
		
		.building {
			font-size: 12px;
			font-weight: bold;
			color: #ccc;
		}
		
		.content {
			float: left;
			width: 127px;
			margin: 0.5em 0 0.5em 0.5em;
			@include bp-small {
				width: 100px;
			}
			
			h3 {
				font-size: 16px;
				font-weight: bold;
				color: #ffcc33;
				line-height: 1;
				margin: 0px;
				a {
					color: #ffcc33;
				}
			}
		}
		
		.directions {
			font-size: 12px;
			color: #ffcc33;
			a {
				color: #ffcc33;
			}
		}
		
		.infoBox {
			display: block;
			width: 280px;
			&:after { /* Tool tip triangle */
				content: '';
				border-right: 10px solid transparent;
				border-top: 10px solid #333;
				border-left: 10px solid transparent;
				display: block;
				height: 0;
				margin: 0 auto;
				position: relative;
				width: 0;
			}
			@include bp-small {
				margin-left: 67px;
				width: 140px;
			}
		}
		.infoContent {
			background: #333;
			display: block;
			padding: 3px 0 3px 3px;
			position: relative;
			width: 100%;
		}
		.infoImage {
			display: block;
			float: left;
			width: 116px;
			height: 107px;
			margin: 0 0px 0 0;
			background-size: cover;
			@include bp-small {
				display: none;
			}
		}
	}
	h2.name-location {
		@include rem-first(font-size, 1.375);
		padding-bottom: 0 !important;
		a {
		font-weight: 700 !important;			
		}
	}

	.name-location--secondary {
		@include rem-first(font-size, 1.25);
		margin-top: 1em;
		a {
		font-weight: 700 !important;				
		}
	}
	.title-page {
		align-items: center;
	}
}

.profile-content {
	background: #ede8e2;
	margin: 0 0 15px;
	padding: 15px 15px 10px;
	display: flex;
    align-items: flex-start;
}

.profile-content img {
	position: relative;
	border: 1px solid #999999;
	min-width: 100px;
	max-width: 100px;
}

.profile-content__body {
	position: relative;
	top: 0px;
	left: 15px;
	padding-right: 15px;

	 .intro {
		color: #666666;
		text-transform: uppercase;
		font-size: 12px;
	}

	h3 span {
		display: block;
		font-size: 14px;
	}

	h3 .name {
		margin: 10px 0 0;
		font-size: 16px;
		font-weight: 700;
	}

	.links {
		margin: 5px 0 10px;

		a {
			display: block;
			font-size: 13px;

			&.primary {
				font-weight: bold;
			}
		}
	}
}


.no-flexbox {
	.page-locations {
		.locations-main,
		.locations-secondary {
			display: block;
			li {
				display: block;
				float: left;
				min-height: 200px;
				@include rem-first(padding-right, 1);
				width: 33%;
			}
		}
	}
}

.name {
	font-weight: 600;
}

/* ---- Responsive Styles ---- */
@media screen and (max-width: 820px) {
	.page-template-page-location-2021 {
		.second {
			.featured-location {
				.alignleft {
					float: inherit;
				}
			}
		}
	}
}

@media screen and (min-width: 569px) and (max-width: 820px) {
	.locationPage {
		.profile-content {
			flex-direction: column;
			padding: 15px 15px 0;
			}
		.profile-content__body {
			width: 100%;
			position: block;
			top: 0;
			left: 0;
			.intro {
				padding-top: 7px;
			}
		}
	}
}

@media screen and (max-width:568px) {
	.locationPage {
		img.lsa {
			display: none;
		}
		.tab.tab2 {
			.first {
				width: 100%;
			}
			.second {
				width: 100%;
			}
		}
	}
	.page-locations .locations-main li,
	.page-locations .locations-secondary li {
		font-size: .8em;
	}
	h2.name-location,
	h3.name-location--secondary {
		font-size: .94em !important;
			a {
				font-weight: bold !important;
			}
	}
}
