.nav-main {
  flex-flow: wrap;
  transform: translateY(-1000%);
  &.active {
    background: white;
    box-shadow: 0 3px 3px $color-shadow;
    height: auto;
    flex: none;
    position: absolute;
    transform: translateY(3em);
    top: 0;
    width: 100%;
  }
  @include hidden-visually;
  @include bp-tablet--portrait {
    align-items: stretch;
    height: auto;
    flex-flow: nowrap;
    order: 3;
    overflow: visible;
    width: auto;
    transform: translateY(0%);
    .small {
      font-size: 0.5em;
      padding-top: 2em;
    }
  }
}

.link-primary {
  position: relative;
  transition: background-color 0.3s;
  z-index: map-get($zindex, dropdown);
  width: 100%;
  @include bp-tablet--portrait {
    border-right: 1px solid $color-secondary;
    padding-top: 1em; // Find a better way to push the link text to bottom
    width: auto;
  }
  &:hover {
    @include bp-tablet--portrait {
      background: $color-link-primary;
    }
    .links-sub {
      box-shadow: 0 0 2px #444;
      max-height: 1000px;
      opacity: 1;
      overflow: visible;
      transition: max-height 0.3s,
                  margin 0.3s,
                  opacity 0.3s,
                  overflow 0.3s,
                  padding-top 0.3s,
                  padding-bottom 0.3s;
    }
  }
  > a {
    display: block;
    @include rem-first(padding, 0.5);
    position: relative;
    @include bp-tablet--portrait {
      color: #fff;
      display: flex;
      height: 100%;
    }
	  &.active {
	  	background: lightgray;
	  	box-shadow: 0 0 2px #444,
                inset 1px 0 0 gray,
                inset -1px 0 0 gray,
                inset 0 1px 0 gray;
	  }
  }
  .col-1 {
    background: #fff;
  }
  .col-2 {
    background: $color-background-secondary;
  }
  .links-sub {
    display: none;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    transition: max-height 0.3s,
                margin 0.3s,
                opacity 0.3s,
                overflow 0.3s,
                padding-top 0.3s,
                padding-bottom 0.3s;
    width: 31.75em;
    @include bp-tablet--portrait {
      display: flex;
    }
    a {
      color: $color-text-accent-primary;
      display: block;
      padding: 0.5em;
      &:hover {
        background: darken($color-background-secondary, 10%);
      }
    }
    [class*="col"] {
      width: 50%;
    }
    .about {
      display: block;
      font-size: 0.6875em;
      text-transform: lowercase;
    }
    .bottom {
      border-top: 1px solid $color-background-secondary;
    }
  }
  .bottom span:not(:first-of-type):before {
    color: $color-text-accent-primary;
    content: '|';
    display: inline-block;
    margin-right: 4px;
  }
  .heading-col {
    color: #7c7c7d;
    display: block;
    font-size: 0.5em;
    font-weight: bold;
    @include rem-first(margin, 0.5);
    text-transform: uppercase;
  }
  .push {
    right: 0;
  }
}

.no-csstransitions {
  .link-primary {
    .links-sub {
      height: 0;
      margin: 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 0;
    }
    &:hover .links-sub {
        height: auto;
        margin: auto;
        overflow: visible;
        @include rem-first(padding, 1);
        width: 600px;
    }
  }
}

.nav-secondary {
  border-bottom: 1px solid $color-secondary;
  @include font-size(16px);
  margin: 0 $margin-left;
  z-index: map-get($zindex, dropdown);
  @include bp-small {
    background: $color-primary;
    height: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    &.active {
      height: auto;
      margin: 0;
      overflow: visible;
      padding: 0;
    }
  }
  ul {
    list-style: none;
  }
  .menu > ul {
    > li {
      display: inline-block;
      position: relative;
      @include bp-small {
        display: block;
      }
      &:nth-child(n+4) {
        // Push dropdowns right if li parents are too far right
        ul {
          right: 0;
        }
      }
      &:hover {
        background: $color-secondary;
        box-shadow: 0 0 2px #444;
        transition: background-color 0.3s;
        @include bp-small {
          background: none;
          box-shadow: none;
        }
        // Show secondary menu items on hover
        li {
          background: $color-secondary;
          border-top: 1px solid darken($color-secondary, 20%);
          height: auto;
          line-height: 1;
          margin: auto;
          opacity: 1;
          overflow: visible;
          width: 100%;
          z-index: map-get($zindex, dropdown);
          transition: opacity 0.3s;
          @include bp-small {
            display: none;
          }
          a {
            display: block;
            @include rem-first(padding, 1);
          }
        }
      }
      > a {
        display: block;
        @include rem-first(padding, 1);
        @include bp-small {
          color: white;
        }
      }
      li {
        // Hide secondary menu items
        height: 0;
        line-height: 0;
        margin: 0;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        width: 0;
      }
      // The dropdown
      ul {
        box-shadow: 0 1px 2px #444;
        position: absolute;
        @include rem-first(width, 20);
      }
    }
  }
}

.menu--toggle {
  background: $color-background--accent;
  cursor: pointer;
  fill: $blue-light;
  @include font-size(16px);
  order: 1;
  width: 14.375%;
  @include bp-tablet--portrait {
    display: none;
  }
  svg {
    display: block;
    margin: 1em auto;
  }
}