.title-page {
	color: $black;
	justify-content: space-between;
	padding: 20px 20px 15px 27.5px;
		h1 {
			line-height: 1.25;
		}
	@include bp-mobile--only {
		background: none;
		color: #111;
		display: block;
		padding: 0 5%;
	}
	.rss-link {
		display: inline-block;
		height: calculateRem(28px);
		margin-left: calculateRem(7px);
		vertical-align: bottom;
		width: calculateRem(28px);
		&:hover .icon-rss {
			fill: darken($color-accent-primary, 20%);
		}
		@include bp-small {
			color: $color-text-minor;
			height: auto;
			@include font-size(16px);
			margin-top: calculateRem(8px);
			margin-left: 0;
			text-align: center;
			vertical-align: baseline;
			width: 100%;
			&:after {
				content: 'View RSS';
				display: block;
			}
		}
	}
	.title-page-link {
		@include rem-first(font-size, 1.5);
		font-weight: 500;
		padding-left: 0;
		color: #338bc5;
	}
	.hours-today {
		margin-top: 1em;
	}
	.icon-rss {
		fill: $color-accent-primary;
		@include bp-small {
			display: none;
		}
	}
	.link-hours-all {
		display: block;
		width: auto;
	}
	.subject-library {
		display: block;
		font-size: 0.75em;
		font-weight: 400;
	}
}
//
// Begin old styles. Clean this stuff up, when time.
//
.title {
	color: #111;
	@include rem-first--2-values(padding, 1, 3);
	position: relative;
	margin-bottom: 20px;
}

.pageTitle {
	color: #333;
	font-size: 1.75rem;
	line-height: 1;
	padding: 0.7em 0 0.7em 0.75em;
	position: relative;
	width: 100%;
}

.topLeft {
	width: 60%;
}
.topRight {
	width: 40%;
}

@media screen and (max-width:720px) {
	.title-page {
		padding: 3% 5%;
	}
}

@media screen and (max-width:568px) {
	.topLeft,
	.topRight {
		width: 100%;
	}
	.library-image {
		img {
			min-width: 100%;
			margin-top: 10px;
		}
	}
}
