.search--lib-resources {
	@include gradient-blue;
	input {
		display: none;
		&.active {
			display: inline;
		}
	}
	select {
		background: $color-background--option;
		width: 100%;
		@include bp-large {
			width: auto;
		}
	}
}