.search--lib-resources {
	text-align: center;
	@include gradient-blue;
	h2 {
		color: $color-text--light;
		display: inline-block;
		@include rem-first(font-size, 1.25);
	}
	button {
		background: white;
		border: 1px solid white;
		border-radius: 0 5px 5px 0;
		padding: 0.5em;
		@include bp-tablet--portrait {
			background: $color-secondary;
		}
		.icon-search {
			height: auto;
			width: 1rem;
		}
	}
	input {
		border: 1px solid white;
		border-radius: 5px 0 0 5px;
		display: none;
		font-size: 1em;
		padding: 0.5em;
		&::-webkit-input-placeholder {
		   font-style: italic;
		}
		&:-moz-placeholder { /* Firefox 18- */
		   font-style: italic;  
		}
		&::-moz-placeholder {  /* Firefox 19+ */
		   font-style: italic;  
		}
		&:-ms-input-placeholder {  
		   font-style: italic;  
		}
		&.active {
			display: inline;
		}
		@include bp-tablet--portrait {
			width: 18.75em;
		}
	}
	select {
		@include rem-first(font-size, 0.875);
		width: 100%;
		// Heads up. Using non-standard appearance property. Note the Firefox hack. This property is not autoprefixed.
		-moz-appearance: treeheader;
		-ms-appearance: none;
		-webkit-appearance: none;
		@include bp-large {
			width: auto;
		}
		&.keywords {
			display: none;
			&.active {
				display: inline;
			}
		}
	}
	.input-submit {
		display: inline-flex; // Correctly aligns the input and submit elements
	}
	[class*="wrap-select"] {
		display: block;
		@include bp-tablet--portrait {
			display: inline;
		}
	}
	.wrap-select--keywords {
		display: none;
		&.active {
			display: inline;
		}
	}
}