.sidebar {
	.widget {
		background: $color-background--widget;
		border-bottom: 2px solid darken($color-background--widget, 20%);
		padding: 20px;
		&:last-of-type {
			border-bottom: none;
		}
		.widget-title {
			color: #666666;
			@include font-size(16px);
			line-height: 1;
			@include rem-first--4-values(margin, 0, 0, 0.667, 0);
			@include rem-first(padding-top, 0);
		}
		ul li {
			list-style-image: url(#{$imagesPath}/list-arrow-blue.png);
			margin-bottom: 2px;
			margin-left: 15px;
		}
	}
}

.ie8 .sidebar .widget {
	display: block; // Fixes <aside> element non-capatability
}