.list--study-spaces {
	> li {
		&:nth-of-type(odd) {
			background-color: darken(#fff, 10%);
		}
	}
	.content--study-space {
		@include rem-first--4-values(padding, 1, 0, 1, 1);
	}
	.image-study-space {
		background-size: cover;
		@include rem-first--4-values(margin, 1, 0, 1, 1);
		width: 8em;
	}
	.info--study-space {
		justify-content: space-between;
		@include rem-first(margin-top, 1);
		[class*="col-"] {
			min-width: 0;
			width: 33%;
		}
		.col-1,
		.col-2 {
			border-right: 1px solid #aaa;
			@include rem-first(padding-right, 1);
		}
		.col-2,
		.col-3 {
			@include rem-first(padding-left, 1);
		}
	}
	.space247 {
		color: #43926a;
	}
}

.list--study-spaces .content .description {
	width: 400px;
}

.list--study-spaces .info {
	margin-top: 5px;
	margin-bottom: 5px;
}	

.list--study-spaces .infoCol h4 {
	font-weight: normal;
	text-transform: none;
	color: #737373;
	margin-bottom: 0px;
	font-size: 12px;
	line-height: 15px;
}

.list--study-spaces .hours {
	display: block;
	color: #666666;
	font-weight: bold;
	margin-top: 5px;
}

.list--study-spaces ul li {
	list-style-type: disc;
	margin-left: 15px;
	font-size: 11px;
	line-height: 14px;
}

//
// Begin new styles.
//

.study-space {
    display: -webkit-box; /* Safari */ 
    display: -moz-box; /* Firefox 21- */
    display: -ms-flexbox; /* IE 10+ */
    display: -webkit-flex; /* Chrome */
    display: flex; /* Standard (Firefox 22+) */
   	align-items: flex-start;
	width: 100%;
	margin-bottom: 30px;
}

.study-space--content {
	width: 100%;
}

.study-space-image  {
	width: 150px;
	height: 300px;
	background-repeat: no-repeat; 
	background-position: center;
	position: relative;
	top: 0;
	left: 0;
	margin-right: 10px;
}

.study-space--info {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
	margin-right: 10px;
	font-size: 14px;
}

.study-space--header {
	flex: 1 0 calc(25% - 10px);
	box-sizing: border-box;
	padding: 10px;
	margin-bottom: 10px;	
}

.study-space--info .ss-item {
	flex: 1 0% calc(25% - 10px);
	box-sizing: border-box;
	padding: 10px;
	margin-left: 10px;
	margin-top: 10px;
	border-right: 1px solid #8c8d8f;
}

.study-space--info .ss-item.last {
	border-right: none;
	padding-right: 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS styles go here */
	.study-space--info {
		font-size: 12px;
	}
	
	.study-space--info .ss-item {
		max-width: 165px;
		flex: none;
		width: 30%;	
	}
}

@media screen and (max-width:720px) {
	.study-space {
		flex-direction: column;
		padding-top: 0;
	}
	
	.study-space-image {
		height: 200px;
		min-width: 100% !important;
		background-position: center top;
		margin-left: 0;
		margin-right: 0;
	}
	
	.study-space--header,
	.study-space--info .ss-item {
		width: 100%;
		flex: none;
		border-bottom: 1px solid #8c8d8f;
		padding: 10px 20px;
		border-right: none;
		margin-bottom: 0;
		max-width: none;
	}
	
	.study-space--info .ss-item.last {
		border-bottom: 3px solid #8c8d8f;
	}
}	
