.wrap-page { // Make sure this overrides the [class*="posts"] selector
	.transition-vertical {
		max-height: 1000px;
		opacity: 1;
		overflow: hidden;
		position: relative;
		transition: border-top-width 0.3s ease,
								border-bottom-width 0.3s ease,
								max-height 0.3s ease, 
								opacity 0.3s ease,
								padding-top 0.3s ease,
								padding-bottom 0.3s ease;
	}

	.transition-vertical--hide {
		border-top-width: 0;
		border-bottom-width: 0;
		max-height: 0;
		height: auto;
		opacity: 0;
		overflow: hidden;
		position: relative;
		padding-top: 0;
		padding-bottom: 0;
	}
}