body {
	font-family: $font-family-primary;
	text-rendering: optimizeLegibility;
}

h1 {
	font-weight: 300;
}

h2 {
	@include rem-first(font-size, 1.8125);
	font-weight: 300;
}

h3 {
	font-size: 1.125em;
	font-weight: 300;
}

.title-page h1 {
	line-height: 1;
	@include font-size(28px);
}