@mixin color-button-primary($color) {
	background: $color;
	&:hover {
		background: darken($color, 15%);
	}
}

@mixin color-button-secondary($color) {
	border-color: $color;
	&:hover {
		background: $color;
	}
}

%button {
	border-radius: 3px;
	padding: 0.5em;
	text-align: center;
	transition: background 0.1s ease;
	@include bp-tablet--portrait {
		padding: 0.5em 1em;
	}
}

%button-primary {
	@extend %button;
	color: $color-text--light;
	display: block;
	font-size: 1em;
	width: 100%;
	&:hover {
		color: $color-text--light;
	}
}

%button-secondary {
	border: 2px solid $color-secondary;
	@extend %button;
	display: inline-block;
	font-size: 0.875em;
	font-weight: 600;
	@include bp-tablet--portrait {
		font-size: 1em;
	}
}

%button-tertiary {
	@include bp-mobile--only {
		background: #fff;
		padding: 0.75em;
	}
}