@mixin color-button-primary($color) {
	background: $color;
	&:hover {
		background: darken($color, 15%);
	}
}

@mixin color-button-secondary($color) {
	border-color: $color;
	&:hover {
		background: $color;
	}
}

%button {
	border-radius: 3px;
	padding: 0.5em;
	text-align: center;
	transition: background 0.1s ease;
	@include bp-tablet--portrait {
		padding: 0.5em 1em;
	}
}

%button-primary {
	@extend %button;
	color: $color-text--light;
	display: block;
	font-size: 1em;
	width: 100%;
	&:hover {
		color: $color-text--light;
	}
}

%button-secondary {
	border: 2px solid $color-secondary;
	@extend %button;
	display: inline-block;
	font-size: 0.875em;
	font-weight: 600;
	@include bp-tablet--portrait {
		font-size: 1em;
	}
}

%button-tertiary {
	@include bp-small {
		background: #fff;
		padding: 0.75em;
	}
}

@mixin gradient-blue {
	background: #5889c2; /* Old browsers */
	background: -moz-linear-gradient(45deg,  #5889c2 0%, #3fa0c9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#5889c2), color-stop(100%,#3fa0c9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg,  #5889c2 0%,#3fa0c9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg,  #5889c2 0%,#3fa0c9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg,  #5889c2 0%,#3fa0c9 100%); /* IE10+ */
	background: linear-gradient(45deg,  #5889c2 0%,#3fa0c9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5889c2', endColorstr='#3fa0c9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}