// Font Size
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin line-height($size) {
	line-height: $size;
	line-height: calculateRem(24px);
}

$font-body: 'Open Sans', sans-serif;

@mixin body-text {
	@include font-size(18px);
	@include line-height(24px);
	font-family: $font-body;
}

@mixin bp-small {
	@media only screen and (max-width: 480px) {
		@content;
	}
}