// Break points

@mixin bp-small {
	@media only screen and (max-width: 480px) {
		@content;
	}
}

// Font Size

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

@mixin line-height($size) {
	line-height: $size;
	line-height: calculateRem(24px);
}

%line-length {
	max-width: 586px;
	max-width: 36.625rem;
}

$font-body: 'Open Sans', sans-serif;

@mixin body-text {
	@include font-size(18px);
	@include line-height(24px);
	font-family: $font-body;
	p, li, a {
		@extend %line-length;
	}
}

@mixin rem-fallback ($property, $value) {
	#{$property}: #{$value};
	#{$property}: $value / 16px * 1rem;
}

@mixin rem-fallback--2-values($property, $value-1, $value-2) {
	#{$property}: #{$value-1} #{$value-2};
	@if $value-1 != 0 {
		#{$property}: $value-1 / 16px * 1rem $value-2 / 16px * 1rem;
	}
	@else {
		#{$property}: $value-1 $value-2 / 16px * 1rem;
	}
}