$zindex: (
  modal     : 9000, 
  overlay   : 8000,
  dropdown  : 7000,
  header    : 6000,
  dropdown-body: 5500,
  dropdown-body-secondary: 5250, 
  footer    : 5000,
  main      : 4000,
  main-secondary: 3000
);