// Note: much of this is leftover from v1 of this theme (the "L+T" theme), and needs to be cleaned up.
#prevWeek {
	width: 33%;
	float: left;
}

#thisWeek {
  width: 33%;
  float: left;
  text-align: center;
}

#nextWeek {
	width: 33%;
	float: right;
	text-align: right;
}

.specialHours {
	font-weight: bold;
}

.specialHours b {
	color: #ca3;
}

#hourContent {
	width: 100%;
}	

#hourNav {
	background: #fff;
	margin: 0;
	position: relative;
	max-width: 100%;
}

.isSticky #hourNav {
	border-bottom: 3px solid #333;
	box-shadow: 0 8px 6px -6px black;
	margin-right: 1rem;
	z-index: 11;
}

.isSticky #nextWeek {
	margin-right: 2rem;
}

#hourNav > div {
	margin: 10px 0;
}

#hourNav #prevWeek {
	@include bp-mobile--only {
		font-size: 0.8em;
	}
}

#hourNav #thisWeek {
	@include bp-mobile--only {
		font-size: 0.8em;
	}
}

#hourNav #nextWeek {
	@include bp-mobile--only {
		font-size: 0.8em;
	}
}

.hrList {
	clear: both;
	width: 100%;
	table-layout: fixed;
}

.hrList thead {	
	border-top: 5px solid #333;
	border-bottom: 5px solid #ccc;
}

.list2 thead {
	border-top: none !important;
}

.hrList th {
	vertical-align: bottom;
	padding: 15px 10px 15px 10px;
	border-left: 1px solid #ccc;
	width: 83px;
}
.hrList td {
	/*position: relative;*/
	width: 83px;

}

.tdInside {
	left: -10px;
	top: -20px;
	height: 1px;
	position: relative;
}

.hrList th .date {
	font-weight: bold;
}

.hrList th.cur {
	border-left: 1px solid #cca329;
	background: #cca329;
	border-bottom: 5px solid #cca329;
}
.hrList th.curAfter {
	border-left: 1px solid #cca329;
}

.hrList td.cur {
	border-left: 1px solid #cca329;
	background: #ffcc33;
	border-bottom: 5px solid #cca329;
	z-index: 10;
}

.hrList td.curAfter {
	border-left: 1px solid #cca329;
}

.hrList td {
	padding: 10px;
	border-left: 1px solid #ccc;
	border-bottom: 5px solid #ccc;
	
}

.hrList .even td {
	background: #eceaea;
	
}

.hrList .even td.cur {
	background: #ecbb2f;
}

.hrList th.name {
	color: #000;
	font-weight: bold;
	border-left: none;
	font-size: 20px;
	width: 200px;
}

.hrList td.name {
	border-left: none;
}

.hrList .name .libraryAlert {
	background: #333;
	border: none;
	bottom: auto;
	color: #f7f7f7;
	display: block;
	font-size: 1em;
	margin-top: 0.5em;
	margin-left: 1em;
	max-width: 14em;
	padding: 0.25em 0.25em 0.25em 2em;
	position: relative;
}

.hrList .libraryAlert .icon-exclamation-sign {
	color: #ffcc33;
	float: left;
	font-size: 1.5em;
	margin-top: -12px;
	margin-left: -1.075em;
	position: absolute;
	top: 50%;
}

.hrList .libraryAlert h3 {
	display: inline;
	font-size: 1em;
	line-height: 1;
}

.hrList .name .libraryAlert p {
	display: inline;
	max-width: 12em;
}

.hrList .libraryAlert h3 a,
.hrList .libraryAlert p a {
	color: #ffcc33;
}

div.libraryAlert {
	border: 1px solid #ccc !important;
	-webkit-box-shadow: 0 0 5px 2px #eee !important;
    -moz-box-shadow: 0 0 5px 2px #eee;
    box-shadow: 0 0 5px 2px #eee !important;
}

.cal-hours {
	position: absolute;
	top: 10px;
	right: 20px;
	width: 160px;
}
.page-hours {
	.mobileDay,
	.mobileToday {
		display: none;
	}
	.fullHourDay {
		@include bp-mobile--only {
			display: none;
		}
		display: block;
		font-size: 0.9rem; // Prevent hours from busting table cells
	}
	.mobileHourDay {
		@include bp-mobile--only {
			display: block;
		}
		display: none;
	}
	// Datepicker
	.gldp-default {
		@include bp-mobile--only {
			display: none;
		}
		font-family: 'Open Sans', sans-serif;
		position: absolute;
		.core {
			background: transparent;
			border: none;
			color: #111;
			cursor: pointer;
			position: relative;
			float: left;
			font-size: 12px;
			margin: 0;
			padding: 0;
			text-align: center;
			text-shadow: none;
			&:hover:not(.outday) {
				background: lighten(#111, 60%);
			}
		}
		.selected {
			background: lighten(#111, 60%);
		}
		.outday {
			color: lighten(#111, 60%);
			cursor: not-allowed;
		}
	}
	.locations-more {
		@include rem-first--2-values(margin, 1.5, 0);
	}
	.locations-more h4 {
		padding-top: 15px;
	}
}
.wrap-cal-hours {
	display: none;
	min-height: 162px;
	min-width: 160px;
	@include bp-tablet--portrait {
		display: block;
	}
}

@include bp-mobile--only {
	.hrList {
		display: block;
		width: 100%;
	}
	
	.hrList tr {
		display: block;
	}
	
	.hrList th {
		display: block;
		float: left;
		width: 33px;
		text-align: center;
		padding: 10px 5px 10px 5px;
	}
	
	.hrList td {
		position: relative;
		width: 14.28571428571429%;
		font-size: 10px;
		line-height: 12px;
		float: left;
		min-height: 45px;
		display: block;
		padding: 10px 5px 10px 5px;
		text-align: center;
	}
	
	.hrList td h3 {
		line-height: 12px;
	}
	
	.fullDay {
		display: none !important;
	}
	
	.mobileDay {
		display: block !important;
	}
	
	.hrList .name {
		width: 100%;
		text-align: left;
		display: block;
		border-bottom-width: 1px;
		min-height: 30px;
	}
	
	.hrList thead th{
		display: none;
	}	
	
	.hrList thead th.name {
		display: block;
		min-height: 20px;
	}

	.hrList .name .libraryAlert,
	.hrList .name .libraryAlert p {
		max-width: none;
		width: 100%;
	}

	.hrList .name .libraryAlert {
		line-height: 1.5;
		margin: 0.5em 0.5em 0 0.5em;
		min-height: 2em;
		padding-top: 0.1em;
	}

	.hrList .name .libraryAlert p {
		margin: 0 !important;
	}

	.hrList .name .libraryAlert .icon-exclamation-sign {
		line-height: 1;
		margin-top: -8px;
		padding: 0;
	}
	
	.hrList .mobileToday {
		display: block;
		position: absolute;
		top: 0px;
		right: 10px;
		width: 33px;
		font-size: 8px;
		background: #ecbb2f;
		padding: 5px 5px 10px 5px;
		text-align: center;
		
	}
	
	.hrList .mobileToday b {
		font-size: 10px;
	}	
	
	.hrList .firstDisplay {
		clear: both;
	}
	
	.hrList .space247 {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.libraryContent a[href^=tel] {
		color: #424286;
	}
	
	.nameHolder {
		width: 80%;
	}
	
	.tdInside {
		top: 0px;
		left: 0px;
	}
}